body.home{
    font-family: $font-principal;
    color: black;
    
    #banner-01{
        .box-banner{
            a{
                img{
                    width: 100% !important;
                    height: auto !important;
                }
            }
        }
    }
    
    #slider{
        .slider-brand{
            margin: 10px auto;
            height: 90px;
        }
        
        .lst-brands {
            margin-bottom: 0;
            height: 100%;
            display: block;
            box-sizing: border-box;
            user-select: none;
            touch-action: pan-y;
            -webkit-tap-highlight-color: transparent;
            width: 100%;
            padding: 10px;
            position: relative;
            
            .slick-list{
                position: relative;
                overflow: hidden;
                margin: 0;
                padding: 0;
                transform: translate3d(0,0,0);
                display: block;
            }
            
            .slick-track {
                top: 0;
                left: 0;
                display: block;
                position: relative;
                
                &:after,
                &:before{
                    display: table;
                    content: '';
                }                
            }
            
            .slick-prev{
                background-position: 0 -300px !important;
                top: 25px;
                left: -3px;
            }
            
            .slick-next{
                background-position: 0 -200px !important;
                top: 25px;
                right: -3px;
            }
            
            .slick-prev,
            .slick-next{
                display: block !important;
                width: 18px;
                height: 26px;
                background: url('https://oticasdiniz.vteximg.com.br/arquivos/sprite-carsl.png') no-repeat;
                font-size: 0;
                position: absolute;
                border: none;
            }
            
            .it-brands {
                float: left;
                height: 100%;
                display: block;
                min-height: 1px;
                text-align: center;
                
                img{
                    display: inline-block;
                    width: 50%;
                }
            }
        }
    }
    
    #about-home{
        margin-top: 10px;
        margin-bottom: 50px;
        
        @media screen and (max-width: 768px){
            margin-bottom: 40px;
        }
        
        #acheLoja{
            @media screen and (max-width: 768px){
                text-align: center;
            }
            
            .titles{
                margin-top: 55px;
                
                @media screen and (max-width: 768px){
                    margin-top: 0px;
                }
                
                h4{
                    font-size: 25px;
                    color: $cor-principal;
                    padding-left: 30px;
                    background-image: url('https://oticasdiniz.vteximg.com.br/arquivos/vec-gps.png');
                    background-position: left center;
                    background-size:contain;
                    background-repeat: no-repeat;
                    font-weight: 600;
                    text-align: center;
                    
                    @media screen and (max-width: 768px){
                        background-size:auto;
                    }
                    
                }
                
                p{
                    font-size: 14px;
                    font-weight: bold;
                    text-align: left;
                    
                    @media screen and (max-width: 768px){
                        text-align: center;
                        font-size: 13px;
                    }
                }

            }
            
            .form-stacked{
                input {
                    background: #F2F2F2;
                    color: #000000;
                    padding: 0;
                    font-size: 14px !important;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    width: 86%;
                    line-height: 35px;
                    text-indent: 10px;
                    border: thin solid #C8C8C8;
                    border-radius: 0px;
                    
                    &:focus{
                        border: thin solid #D91E25; 
                        background-color: #FFFFFF;
                    }
                    
                }
                
                button{
                    margin-left:-40px;
                    border: 0;
                    -webkit-appearance: none;
                    background: #F2F2F2;
                }
            }
            
            #gps{
                a{
                    font-weight: 300;
                    font-size: 12px;
                    line-height: 16px;
                    text-decoration-line: underline;
                    color: #757575;
                }
            }
        }
        
        #conhecaDiniz{
            .col-lg-6{
                &:last-child{
                    margin-top: 54px;
                    
                    @media screen and (max-width: 768px){
                        margin-top: 15px;
                    }
                }
            }
            
            h3{
                font-size: 22px;
                font-weight: 700;
                color: $cor-principal;
                margin-bottom: 20px;
                margin-top: 55px;
                
                @media screen and (max-width: 768px){
                    margin: 15px 0;
                }
            }
            
            p{
                float: left; 
                text-align:justify;
                font-size: 13px; 
                line-height: 16px;
            }
            
            img{
                height: 265px;
                width: 100%;
                
                @media screen and (max-width: 768px){
                    margin-top: 15px;
                    height: auto;
                }
            }
        }
    }
    
    #bannerHalfMain{
        #bannerHalfLeft,
        #bannerHalfRight,
        #banner-02{
            .box-banner{
                a{
                    img{
                        width: 100% !important;
                        height: auto !important;
                    }
                }
            }
        }
        
        #bannerHalfRight{
            @media screen and (max-width: 768px){
                margin-top: 10px;
            }
        }
        
        #banner-02{
            .box-banner{
                margin: 35px 0;
                
                @media screen and (max-width: 768px){
                    margin-top: 10px;
                }
            }
        }
    }
    
    #blog{
        .title {
            font-size: 30px;
            font-weight: 500;
            line-height: 35px;
            text-align: center;
            letter-spacing: 0.23em;
            text-transform: uppercase;
            margin: 27px 0px 40px;
        }
        
        #blog-slide{
            div{
                figure{                
                    img{
                        width: 100%;
                        height: auto;
                    }
                }
                
                a{
                    font-size: 18px;
                    line-height: 21px;
                    color: #363636;
                    text-decoration: none;
                }
            }
        }
    }
}
