body.search {
    .sub,
    .pager,
    .menu-navegue,
    .searchResultsTime,
    .menu-departamento>span,
    .productClusterSearchableIds,
    .bt-refinar {
        display: none;
    }

    .header .main-nav-level-1.active .main-nav-level-1-content .main-nav-level-2.active .main-nav-level-2-content,
    .header .main-nav-marcas .box_marcas {
        z-index: 11;
    }

    .box-banner {
        a {
            position: relative;
            display: -webkit-box;
            background-repeat: no-repeat;
            background-position: 50% 50%;

            @media screen and (max-width:$mobile) {
                background-size: 100%;
            }

            img {
                opacity: 0;
                width: 100%;
                height: auto;
            }
        }
    }

    footer {
        margin-top: 40px;
    }

    .nice-select {
        z-index: 99;
        background-color: #efefef;

        @media screen and (max-width: $mobile) {
            position: static;
            border: none;
            background-color: transparent;

            &:after,
            &>span {
                display: none;
            }

            ul.list {
                opacity: 1;
                width: 100%;
                left: 0;
                top: 40px;
                font-size: 18px;
                border: none;
                box-shadow: none;
                pointer-events: all;

                li {
                    padding: 10px;
                }
            }
        }
    }

    .btn-load-more {
        border: 1px solid black;
        color: black;
        height: 40px;
        line-height: 40px;
        text-align: center;
        text-transform: uppercase;
        margin: 40px auto;
        width: 220px;

        @media screen and (max-width: $mobile) {
            width: 90%;
        }
    }

    .search {
        &-title {
            text-align: center;
            text-transform: uppercase;
            font-size: 30px;
            margin: 30px 0;
            letter-spacing: 10px;

            @media screen and (max-width: $mobile) {
                font-size: 14px;
                margin: 30px 0;
                letter-spacing: 3px;
            }

            h2 {
                width: 100%;
                margin: 0;
            }
        }

        &-main-content {
            .button-container {
                position: sticky;
                background-color: white;
                bottom: 0;
                display: flex;
                align-items: center;
                padding: 10px;
                justify-content: space-between;

                &.active {
                    z-index: 999999;
                }

                &.active {
                    position: fixed;
                    width: 100%;
                }

                a {
                    width: 48%;
                    border: 1px solid #666;
                    padding: 5px 10px;
                    display: flex;
                    justify-content: space-between;

                    &.open-filter {
                        &:after {
                            background-image: url("data:image/svg+xml,%3Csvg width='21' height='21' viewBox='0 0 21 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.16667 17.5H12.8333V15.1667H8.16667V17.5ZM0 3.5V5.83333H21V3.5H0ZM3.5 11.6667H17.5V9.33333H3.5V11.6667Z' fill='black'/%3E%3C/svg%3E%0A");
                        }
                    }

                    &.open-order {
                        &:after {
                            background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.41304 15.7142H6.27015V0.357135C6.27015 0.253036 6.23676 0.167309 6.16976 0.100425C6.1028 0.0335792 6.01731 0 5.91305 0H3.77016C3.66606 0 3.58033 0.0334228 3.51345 0.100386C3.44664 0.167427 3.41306 0.253036 3.41306 0.357096V15.7142H1.27013C1.10657 15.7142 0.994965 15.7885 0.93539 15.9373C0.875777 16.0789 0.901929 16.209 1.01346 16.3281L4.58485 19.8996C4.66679 19.9663 4.7522 19.9998 4.84156 19.9998C4.93828 19.9998 5.02388 19.9663 5.09827 19.8996L8.65853 16.3393C8.73304 16.2502 8.77017 16.1606 8.77017 16.0717C8.77017 15.9671 8.73679 15.8818 8.66979 15.8144C8.60279 15.7477 8.51733 15.7142 8.41304 15.7142Z' fill='black'/%3E%3Cpath d='M16.7509 18.7278H13.9829C13.8267 18.7278 13.7151 18.7352 13.6483 18.75L13.4919 18.7723V18.75L13.6148 18.6272C13.7261 18.4935 13.8045 18.3967 13.8492 18.3375L17.9672 12.4219V11.4287H11.6391V13.9844H12.9784V12.7009H15.5677C15.7014 12.7009 15.8133 12.6897 15.9021 12.6675C15.9245 12.6675 15.9524 12.6656 15.9859 12.6618C16.0192 12.6585 16.0435 12.6562 16.0583 12.6562V12.6896L15.9354 12.7902C15.8688 12.8571 15.7903 12.9573 15.7011 13.0915L11.583 18.9956V20H18.1008V17.3996H16.7506V18.7278H16.7509Z' fill='black'/%3E%3Cpath d='M18.3127 7.38851L15.7457 0H13.9377L11.3708 7.38851H10.5898V8.57156H13.7927V7.38851H12.9558L13.4804 5.7814H16.1925L16.7169 7.38851H15.8803V8.57156H19.0947V7.38851H18.3127ZM13.8486 4.55359L14.6633 2.12053C14.693 2.03121 14.7211 1.92328 14.7471 1.79686C14.7729 1.67036 14.786 1.60339 14.786 1.59597L14.8195 1.37284H14.8641C14.8641 1.40258 14.8716 1.47697 14.8861 1.59597L15.0203 2.12049L15.8238 4.55355H13.8486V4.55359Z' fill='black'/%3E%3C/svg%3E%0A");
                        }
                    }

                    &:after {
                        content: '';
                        display: inline-block;
                        width: 20px;
                        height: 20px;
                        background-size: contain;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
        }

        &-results {
            .shelf>ul {
                overflow: initial;

                &:after {
                    content: "";
                    display: table;
                    clear: both;
                }
            }

            @media screen and (max-width: $mobile) {
                margin: 0;
            }
        }

        &-seo-text {
            text-align: center;

            @media screen and (max-width: $mobile) {
                padding: 10px;
            }
        }
    }

    .search-result-data {
        .container,
        .row {
            height: 100%;
            align-items: flex-start;
        }

        &-filtered {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            &-items {
                height: 100%;
                width: 80%;

                @media screen and (max-width: $mobile) {
                    width: 100%;
                }

                &:before {
                    content: 'Filtros selecionados:';
                    position: absolute;
                    left: -100px;
                    top: 20px;
                    font-size: 13px;

                    @media screen and (max-width: $mobile) {
                        content: 'Filtros selecionados:';
                        position: relative;
                        left: 0;
                        top: auto;
                        font-size: 12px;
                        display: inline-block;
                        height: 40px;
                        vertical-align: middle;
                        line-height: 40px;
                    }
                }

                a {
                    margin: 5px;
                    background-color: #ddf5ff;
                    padding: 10px;
                    min-width: 164px;
                    display: inline-block;
                    border-radius: 4px;
                    font-weight: normal;

                    @media screen and (max-width: $mobile) {
                        margin: 5px;
                        background-color: #ddf5ff;
                        padding: 10px;
                        min-width: auto;
                        display: inline-block;
                        border-radius: 4px;
                        font-weight: normal;
                        font-size: 12px;
                        vertical-align: middle;
                        line-height: 22px;
                    }

                    span {
                        float: right;
                        font-weight: 700;

                        @media screen and (max-width: $mobile) {
                            margin-left: 10px;
                        }
                    }
                }

                .search-result-data-filtered-clear {
                    display: inline-block;

                    a {
                        background-color: transparent;
                        line-height: 20px;
                    }
                }
            }

            &-clear {
                margin-right: 30px;
                margin-top: 10px;

                @media screen and (max-width: $mobile) {
                    // display: none;
                    width: 140px;

                    span {
                        white-space: nowrap;
                        font-size: 10px;
                    }
                }

                a {
                    font-weight: normal;

                    svg {
                        display: inline-block;
                        vertical-align: middle;
                        font-weight: bold;
                    }
                }
            }
        }

        &-order {
            height: 100%;

            @media screen and (max-width: $mobile) {
                position: fixed;
                bottom: -100%;
                width: 100%;
                height: 80%;
                overflow-y: scroll;
                margin-top: 0;
                background-color: white;
                z-index: 99;

                &.active {
                    bottom: 0;
                }
            }

            .orderBy {
                border: none;
                padding: 0;
                margin: 0;

                label {
                    display: none;
                }

                select {
                    position: absolute;
                    right: 0;
                    height: 30px;
                    margin-top: 33px;
                }
            }
        }
    }

    .menu-departamento {
        &.loaded {
            &>div {
                * {
                    opacity: 1;

                }

                &:after {
                    display: none;
                }
            }
        }

        &>div {
            position: relative;

            * {
                opacity: 0;
            }

            &:after {
                content: '';
                width: 60px;
                height: 60px;
                position: absolute;
                left: 50%;
                margin-left: -30px;
                top: 120px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' style='margin: auto; background: transparent; display: block;' width='58px' height='58px' viewBox='0 0 100 100' preserveAspectRatio='xMidYMid'%3E%3Ccircle cx='75' cy='50' fill='%23e75955' r='3'%3E%3Canimate attributeName='r' values='3;3;5;3;3' times='0;0.1;0.2;0.3;1' dur='1s' repeatCount='indefinite' begin='-0.9166666666666666s'%3E%3C/animate%3E%3Canimate attributeName='fill' values='%23e75955;%23e75955;%23cf3719;%23e75955;%23e75955' repeatCount='indefinite' times='0;0.1;0.2;0.3;1' dur='1s' begin='-0.9166666666666666s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='71.65063509461098' cy='62.5' fill='%23e75955' r='3'%3E%3Canimate attributeName='r' values='3;3;5;3;3' times='0;0.1;0.2;0.3;1' dur='1s' repeatCount='indefinite' begin='-0.8333333333333334s'%3E%3C/animate%3E%3Canimate attributeName='fill' values='%23e75955;%23e75955;%23cf3719;%23e75955;%23e75955' repeatCount='indefinite' times='0;0.1;0.2;0.3;1' dur='1s' begin='-0.8333333333333334s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='62.5' cy='71.65063509461096' fill='%23e75955' r='3'%3E%3Canimate attributeName='r' values='3;3;5;3;3' times='0;0.1;0.2;0.3;1' dur='1s' repeatCount='indefinite' begin='-0.75s'%3E%3C/animate%3E%3Canimate attributeName='fill' values='%23e75955;%23e75955;%23cf3719;%23e75955;%23e75955' repeatCount='indefinite' times='0;0.1;0.2;0.3;1' dur='1s' begin='-0.75s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='50' cy='75' fill='%23e75955' r='3'%3E%3Canimate attributeName='r' values='3;3;5;3;3' times='0;0.1;0.2;0.3;1' dur='1s' repeatCount='indefinite' begin='-0.6666666666666666s'%3E%3C/animate%3E%3Canimate attributeName='fill' values='%23e75955;%23e75955;%23cf3719;%23e75955;%23e75955' repeatCount='indefinite' times='0;0.1;0.2;0.3;1' dur='1s' begin='-0.6666666666666666s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='37.50000000000001' cy='71.65063509461098' fill='%23e75955' r='3'%3E%3Canimate attributeName='r' values='3;3;5;3;3' times='0;0.1;0.2;0.3;1' dur='1s' repeatCount='indefinite' begin='-0.5833333333333334s'%3E%3C/animate%3E%3Canimate attributeName='fill' values='%23e75955;%23e75955;%23cf3719;%23e75955;%23e75955' repeatCount='indefinite' times='0;0.1;0.2;0.3;1' dur='1s' begin='-0.5833333333333334s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='28.34936490538903' cy='62.5' fill='%23e75955' r='3.40106'%3E%3Canimate attributeName='r' values='3;3;5;3;3' times='0;0.1;0.2;0.3;1' dur='1s' repeatCount='indefinite' begin='-0.5s'%3E%3C/animate%3E%3Canimate attributeName='fill' values='%23e75955;%23e75955;%23cf3719;%23e75955;%23e75955' repeatCount='indefinite' times='0;0.1;0.2;0.3;1' dur='1s' begin='-0.5s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='25' cy='50' fill='%23e75955' r='4.06772'%3E%3Canimate attributeName='r' values='3;3;5;3;3' times='0;0.1;0.2;0.3;1' dur='1s' repeatCount='indefinite' begin='-0.4166666666666667s'%3E%3C/animate%3E%3Canimate attributeName='fill' values='%23e75955;%23e75955;%23cf3719;%23e75955;%23e75955' repeatCount='indefinite' times='0;0.1;0.2;0.3;1' dur='1s' begin='-0.4166666666666667s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='28.34936490538903' cy='37.50000000000001' fill='%23e75955' r='4.73439'%3E%3Canimate attributeName='r' values='3;3;5;3;3' times='0;0.1;0.2;0.3;1' dur='1s' repeatCount='indefinite' begin='-0.3333333333333333s'%3E%3C/animate%3E%3Canimate attributeName='fill' values='%23e75955;%23e75955;%23cf3719;%23e75955;%23e75955' repeatCount='indefinite' times='0;0.1;0.2;0.3;1' dur='1s' begin='-0.3333333333333333s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='37.499999999999986' cy='28.349364905389038' fill='%23e75955' r='4.59894'%3E%3Canimate attributeName='r' values='3;3;5;3;3' times='0;0.1;0.2;0.3;1' dur='1s' repeatCount='indefinite' begin='-0.25s'%3E%3C/animate%3E%3Canimate attributeName='fill' values='%23e75955;%23e75955;%23cf3719;%23e75955;%23e75955' repeatCount='indefinite' times='0;0.1;0.2;0.3;1' dur='1s' begin='-0.25s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='49.99999999999999' cy='25' fill='%23e75955' r='3.93228'%3E%3Canimate attributeName='r' values='3;3;5;3;3' times='0;0.1;0.2;0.3;1' dur='1s' repeatCount='indefinite' begin='-0.16666666666666666s'%3E%3C/animate%3E%3Canimate attributeName='fill' values='%23e75955;%23e75955;%23cf3719;%23e75955;%23e75955' repeatCount='indefinite' times='0;0.1;0.2;0.3;1' dur='1s' begin='-0.16666666666666666s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='62.5' cy='28.349364905389034' fill='%23e75955' r='3.26561'%3E%3Canimate attributeName='r' values='3;3;5;3;3' times='0;0.1;0.2;0.3;1' dur='1s' repeatCount='indefinite' begin='-0.08333333333333333s'%3E%3C/animate%3E%3Canimate attributeName='fill' values='%23e75955;%23e75955;%23cf3719;%23e75955;%23e75955' repeatCount='indefinite' times='0;0.1;0.2;0.3;1' dur='1s' begin='-0.08333333333333333s'%3E%3C/animate%3E%3C/circle%3E%3Ccircle cx='71.65063509461096' cy='37.499999999999986' fill='%23e75955' r='3'%3E%3Canimate attributeName='r' values='3;3;5;3;3' times='0;0.1;0.2;0.3;1' dur='1s' repeatCount='indefinite' begin='0s'%3E%3C/animate%3E%3Canimate attributeName='fill' values='%23e75955;%23e75955;%23cf3719;%23e75955;%23e75955' repeatCount='indefinite' times='0;0.1;0.2;0.3;1' dur='1s' begin='0s'%3E%3C/animate%3E%3C/circle%3E%3C/svg%3E");
            }
        }
    }

    .search-multiple-navigator {
        &>h3,
        &>h4 {
            display: none;
        }

        fieldset {
            border: none;
            border-top: 1px solid black;
            padding: 0;
            margin-bottom: 40px;

            h3,
            h5 {
                font-size: 13px;
                margin: 10px 0 20px;
                text-transform: uppercase;
            }

            label {
                display: block;
                margin: 10px 0;
                font-size: 13px;

                &:before {
                    content: '';
                    position: relative;
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    border-radius: 2px;
                    border: 1px solid #ccc;
                    color: #4ACDB6;
                    margin-right: 5px;
                    vertical-align: middle;
                    line-height: 13px;
                    font-size: 12px;
                    text-align: center;
                }

                &.sr_selected {
                    &:before {

                        content: '\2713';
                        border-color: #4ACDB6;
                    }
                }
            }

            input {
                display: none;
            }
        }
    }

    aside.search-filter {
        margin-top: 50px;

        @media screen and (max-width: $mobile) {
            position: fixed;
            bottom: -100%;
            width: 100%;
            height: 80%;
            overflow-y: scroll;
            margin-top: 0;
            background-color: white;
            z-index: 99999;
            padding-bottom: 40px;

            &.active {
                bottom: 0;
            }
        }
    }

    // filter colors
    fieldset.refino,
    fieldset.refino-marca {
        max-height: 500px;
        transition: all 300ms;

        &.closed {
            max-height: 30px;
            overflow: hidden;

            h5:after {
                content: '+';
            }
        }

        h3,
        h5 {
            cursor: pointer;

            &:after {
                content: '-';
                position: relative;
                display: inline-block;
                font-size: 13px;
                float: right;
            }
        }

        &.filtro_cordaarmacao {
            h3,
            h5 {
                font-size: 0;

                &:before {
                    content: 'Cor da arma\00E7\00E3o';
                    font-size: 13px;
                    display: inline-block;
                }
            }

            label {
                width: 28px;
                height: 28px;
                font-size: 0 !important;
                border: 1px solid #ccc;
                margin: 5px;
                margin-left: 0;
                border-radius: 2px;
                display: inline-block;

                &:before {
                    display: none;
                }

                &.sr_selected {
                    border: 2px solid #4ACDB6;
                }

                &.sr {
                    &_azul {
                        background-color: #0000ff;
                    }

                    &_branco {
                        background-color: #ffffff;
                    }

                    &_cinza {
                        background-color: #999999;
                    }

                    &_dourado {
                        background-color: #faca61;
                    }

                    &_marrom {
                        background-color: #805638;
                    }

                    &_prata {
                        background-color: #c9c6c3;
                    }

                    &_preto {
                        background-color: #000000;
                    }

                    &_rosa {
                        background-color: #f556c0;
                    }

                    &_verde {
                        background-color: #6df558;
                    }

                    &_vermelho {
                        background-color: #c41010;
                    }

                    &_roxo {
                        background-color: #9a10c4;
                    }

                    &_amarelo {
                        background-color: #f5dd05;
                    }

                    &_marrom-demi {
                        background-color: #604c3d;
                    }

                    &_havana {
                        background-color: #3b2b2c;
                    }

                    &_bege {
                        background-color: #dbba7b;
                    }

                    &_preto-dourado {
                        background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 50%, rgba(250, 202, 97, 1) 51%, rgba(250, 202, 97, 1) 100%);
                    }

                    &_marrom-havana {
                        background: linear-gradient(to right, rgba(128, 86, 56, 1) 0%, rgba(128, 86, 56, 1) 50%, rgba(59, 43, 44, 1) 51%, rgba(59, 43, 44, 1) 100%);
                    }

                    &_dourado-havana {
                        background: linear-gradient(to right, rgba(250, 202, 97, 1) 0%, rgba(250, 202, 97, 1) 50%, rgba(59, 43, 44, 1) 51%, rgba(59, 43, 44, 1) 100%);
                    }

                    &_prata-preto {
                        background: linear-gradient(to right, rgba(201, 198, 195, 1) 0%, rgba(201, 198, 195, 1) 50%, rgba(0, 0, 0, 1) 51%, rgba(0, 0, 0, 1) 100%);
                    }
                }
            }
        }

        &.filtro_faixaetaria {
            h3,
            h5 {
                font-size: 0;

                &:before {
                    content: 'Faixa etaria';
                    font-size: 13px;
                    display: inline-block;
                }
            }
        }

        &.filtro_formato {
            &[data-category="4"] {
                label {
                    &.sr {
                        &_aviador:after {
                            background-image: url('/arquivos/grau-aviador.png');
                        }

                        &_gatinho:after {
                            background-image: url('/arquivos/grau-gatinho.png');
                        }

                        &_oval:after {
                            background-image: url('/arquivos/grau-oval.png');
                        }

                        &_quadrado:after {
                            background-image: url('/arquivos/grau-quadrado.png');
                        }

                        &_redondo:after {
                            background-image: url('/arquivos/grau-redondo.png');
                        }

                        &_retangular:after {
                            background-image: url('/arquivos/grau-retangular.png');
                        }

                        &_mascara:after {
                            background-image: url('/arquivos/grau-mascara.png');
                        }
                    }
                }
            }

            label {
                height: 26px;

                &:after {
                    content: '';
                    float: right;
                    width: 43px;
                    height: 23px;
                    display: block;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                &.sr {
                    &_aviador:after {
                        background-image: url('/arquivos/menu-aviador.png');
                    }

                    &_gatinho:after {
                        background-image: url('/arquivos/menu-gatinho.png');
                    }

                    &_oval:after {
                        background-image: url('/arquivos/menu-oval.png');
                    }

                    &_quadrado:after {
                        background-image: url('/arquivos/menu-quadrado.png');
                    }

                    &_redondo:after {
                        background-image: url('/arquivos/menu-redondo.png');
                    }

                    &_retangular:after {
                        background-image: url('/arquivos/menu-retangular.png');
                    }

                    &_mascara:after {
                        background-image: url('/arquivos/menu-mascara.png');
                    }

                }
            }
        }

        &.filtro_genero {
            h3,
            h5 {
                font-size: 0;

                &:before {
                    content: 'G\00EAnero';
                    font-size: 13px;
                    display: inline-block;
                }
            }
        }
    }
}

body.grau fieldset.refino,
body.grau fieldset.refino-marca {
    &.filtro_formato {
        label {
            height: 26px;

            &:after {
                content: '';
                float: right;
                width: 43px;
                height: 23px;
                display: block;
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;
            }

            &.sr {
                &_aviador:after {
                    background-image: url('/arquivos/aviador_grau_1.png');
                }

                &_gatinho:after {
                    background-image: url('/arquivos/gatinho_grau_1.png');
                }

                &_oval:after {
                    background-image: url('/arquivos/oval_grau_1.png');
                }

                &_quadrado:after {
                    background-image: url('/arquivos/quadrado_grau_1.png');
                }

                &_redondo:after {
                    background-image: url('/arquivos/redondo_grau_1.png');
                }

                &_retangular:after {
                    background-image: url('/arquivos/retangular_grau_1.png');
                }

                &_mascara:after {
                    background-image: url('/arquivos/menu-mascara.png');
                }
            }
        }
    }
}

.filter-overlay {
    position: fixed;
    z-index: 99998;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    display: none;

    &.active {
        display: block;
    }
}