.footer {
    &-newsletter {
        background-color: $cor-principal;
        color: white;
        height: 100px;
        display: none;

        @media screen and (max-width: $mobile) {
            height: auto;
            padding-bottom: 20px;
        }

        .row {
            align-items: center;
        }

        h3 {
            font-size: 25px;

            @media screen and (max-width: $mobile) {
                text-align: center;
                padding: 0 40px;

                small {
                    font-size: .8em;
                }
            }

            small {
                font-weight: normal;
                display: block;
                font-size: .6em;
            }
        }

        form {
            input {
                height: 40px;
                border: none;
                width: 455px;
                max-width: 80%;
                vertical-align: middle;
                padding-left: 10px;

                @media screen and (max-width: $mobile) {
                    width: 100%;
                    margin-bottom: 10px;
                    max-width: 100%;
                }

            }

            button {
                height: 40px;
                background-color: $cor-secundaria;
                color: white;
                margin-left: 15px;
                text-transform: uppercase;
                line-height: 40px;
                border: none;
                box-shadow: none;
                vertical-align: middle;
                padding: 0 20px;

                @media screen and (max-width: $mobile) {
                    float: right;
                }
            }
        }

    }

    &-info {
        display: block;
        font-size: 12px;
        padding: 5px 0;
        background-color: #000;

        @media screen and (max-width:$mobile) {
            padding: 15px 0;
            text-align: center;

            .col-12 {
                &:nth-child(1) {
                    margin-bottom: 20px;
                }
            }
        }

        p,
        span {
            color: white;
        }

        p {
            margin: 0;
        }

        span {
            font-weight: bold;
        }
    }

    &-main {
        padding-top: 40px;

        &-nav {
            display: flex;
            padding-bottom: 40px;
            border-bottom: 1px solid #eee;

            @media screen and (max-width: $mobile) {
                display: block;
                border-bottom: none;
                padding-bottom: 0;
            }

            .toggle {
                @media screen and (max-width:$mobile) {
                    width: calc(100% + 30px);
                    margin-left: -15px;
                    padding: 0 15px;

                    &.first {
                        border-top: 1px solid #dcdcdc;
                    }

                    border-bottom: 1px solid #dcdcdc;
                    
                    h2 {
                        margin: 0;
                        height: 50px;
                        line-height: 50px;
                        position: relative;

                        &.active {
                            &:after {
                                content: '-';
                            }
                        }
        
                        &:after {
                            content: '+';
                            position: absolute;
                            right: 0;
                        }
                    }

                    ul {
                        display: none;
                    }
                }
            }

            h2 {
                font-size: 16px;
                font-weight: bold;
                letter-spacing: initial;
                text-transform: uppercase;
                
                @media screen and (max-width: $mobile) {
                    display: block;
                    padding-bottom: 0;
                    border-bottom: none;
                    text-align: center;
                }
            }

            ul {
                width: 100%; // change after SEO h2
                padding: 0 10px;

                @media screen and (max-width: $mobile) {
                    text-align: center;
                }
            }

            &-item {
                padding: 10px 0;

                a {
                    display: block;

                    small {
                        color: black;
                    }
                }

                small {
                    color: #757575;
                }
            }

            [data-nav=social] {
                @media screen and (max-width: $mobile) {
                    border: none;
                    margin-bottom: 40px;
                }

                li.footer-main-nav-title {
                    &:after {
                        display: none;

                        @media screen and (max-width: $mobile) {
                            display: none;
                        }
                    }
                }

                li:not(.footer-main-nav-title) {
                    display: inline-block;
                    margin-right: 10px;

                    @media screen and (max-width: $mobile) {
                        transform: scale(2);
                        margin-right: 40px;

                        &:nth-child(5) {
                            margin-right: 7px;
                        }

                        &:last-of-type {
                            margin-right: 0;
                        }
                    }
                }

                li.whats_float_icon {
                    margin-top: 240px;

                    @media screen and (max-width: $mobile) {
                        margin-top: 40px;
                    }

                    a {
                        img {
                            width: 195px;
                            height: 42px;

                            @media screen and (max-width: $mobile) {
                                height: auto;
                                width: 135px;
                            }
                        }

                        p {
                            font-size: 12px;
                            text-align: justify;
                            color: #d91e25;
                            font-weight: 600;
                            margin-left: 11px;
                            margin-top: 0px;

                            @media screen and (max-width: $mobile) {
                                font-size: 6px;
                            }
                        }
                    }
                }
            }
        }
    }

    &-extra {
        h2 {
            font-size: 16px;
            font-weight: 700;
            letter-spacing: initial;
            
            @media screen and (max-width: $mobile) {
                text-align: center;
            }
        }

        .row {
            width: 100%;

            @media screen and (max-width: $mobile) {
                margin-left: 0;
                margin-right: 0;
            }

        }

        ul {
            @media screen and (max-width: $mobile) {
                text-align: center;
            }
        }

        &-title {
            padding: 10px 0;
            font-weight: bold;
            font-size: 16px;
            text-transform: uppercase;
            margin-bottom: 10px;

        }

        li:not(.footer-extra-title) {
            display: inline-block;
            margin-right: 20px;
            vertical-align: middle;

            @media screen and (max-width: $mobile) {
                &:last-of-type {
                    margin-right: 0;
                }
            }

        }
    }

}

footer {
    margin-bottom: -40px;
    border-top: 30px solid $cor-principal;
}

.copyright {
    text-align: center;
    padding: 5px 10px;

    strong {
        display: block;
        margin-bottom: 10px;
    }

    @media screen and (max-width: $mobile) {
        display: block;

        strong {
            margin-bottom: 0;
        }
    }
}

#consultar_cep {
    // display: block;

    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 100px;
    padding: 15px;
    border-radius: 3px;
    margin-top: -50px;
    margin-left: -150px;
    background-color: #d91e25;

    fieldset {
        height: 100%;
        margin: 0;
        padding: 0;
        border: none;

        label {
            color: #fff;
            padding-bottom: 4px;
        }

        .input {
            width: 100%;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
                height: 100%;

                &[type="tel"] {
                    width: 80%;
                }

                &[type="submit"] {
                    width: 20%;
                    cursor: pointer;
                }
            }
        }
    }
}