.header {
    position: relative;
    z-index: 9;

    @media screen and (max-width: $mobile) {
        z-index: 99997;
    }

    &.black-friday {
        background-color: $cor-principal;
        color: white;
    }

    &.main-header {
        background: white;
        color: black;
        
        * {
            color: #363636;
        }

        .header-topbar {
            background-color: #363636;
            * {
                color: white;
            }
        }

        .logo img { //remover
            background-attachment: #363636;
        }

        .header-main-search input, .header-main-search {
            background-color: #f2f2f2;
        }
        .header-main-search button {
            position: relative;
            height: 23px;
            width: 23px;
            background-color: #f2f2f2;
            background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 18.2l-4.8-4.6a8 8 0 001.9-5.1c0-4.5-3.7-8-8.3-8a8.2 8.2 0 00-8.3 8c0 4.4 3.7 8 8.3 8 2 0 3.8-.6 5.2-1.8l4.8 4.6c.3.3.8.3 1.1 0 .3-.3.3-.8 0-1zM8.7 15a6.6 6.6 0 01-6.6-6.5c0-3.6 3-6.5 6.6-6.5 3.7 0 6.6 3 6.6 6.5 0 3.6-3 6.5-6.6 6.5z' fill='%23363636'/%3E%3C/svg%3E");
            border: none;
            background-repeat: no-repeat;
            background-position: center;
        }

        svg {
            path {
                fill: #363636;
            }
        }

        .main-nav-level-1.active .main-nav-level-1-content>ul {
            background-color: white;

            &>li:hover {
                background-color: #f8f8f8;
            }
        
            .main-nav-level-2-content,
            .main-nav-level-2-content.active {
                background-color: #f8f8f8;
            }
        }

        .support-nav {
            a {
                color: #D91E25;
            }
        }

        @media screen and (max-width: $mobile) {
            .header-main-nav-icon span {
                background-color: #363636;
            }

            .main-nav {
                background-color: white;
                box-shadow: 0 0 4px 0 #363636;
               
                .mobile-nav-login * {
                    color: white;
                }

                &-icon.active a span {
                    background-color: white;
                }

                .support-nav ul li {
                    background-color: #f5f5f5;
                }

                &>ul>li>a:before,
                .main-nav-level-1.active .main-nav-level-1-content .main-nav-level-2>a:before {
                    border-top-color: #363636;
                    border-right-color: #363636;
                }
            }


        }

    }

    &-topbar {
        background-color: $cor-principal-escuro;
        height: 30px;
        line-height: 30px;
        text-transform: uppercase;

        .row {
            justify-content: space-around;
        }

        span {
            font-size: 14px;
        }

        @media screen and (max-width: $mobile) {
            height: auto;
            line-height: 1.5;
            padding-top: 45px;
            padding-bottom: 10px;

            .row {
                justify-content: center;
            }

            span {
                display: inline-block;
                width: auto;
                text-align: center;
                text-transform: uppercase;
                font-weight: normal;
                font-size: 10px;
                margin: 0 5px;

            }
        }
    }

    &-main-content {
        @media screen and (max-width: $mobile) {
            position: relative;

            .logo {
                text-align: center;

                svg,
                img {
                    width: 158px;
                }
            }
        }

        &>.col-md-4 {
            display: flex;

            @media screen and (max-width: $mobile) {
                position: static;
            }
        }
    }

    &-main-nav-icon {
        position: absolute;
        top: 35px;
        left: 10px;
        transition: all 300ms;

        &.active {
            position: fixed;
            left: 80%;
            padding: 10px;
            background: $cor-principal;
            z-index: 99;
            padding-left: 3px;

            span {
                &:first-of-type {
                    transform: rotate(-45deg) translate(-3px, 8px);
                }

                &:nth-of-type(2) {
                    transform: rotate(45deg) translate(2px, -2px);
                }

                &:last-of-type {
                    display: none;
                }
            }
        }

        span {
            width: 30px;
            height: 2px;
            background: white;
            display: block;
            margin-bottom: 7px;

            &:last-of-type {
                width: 15px;
            }
        }
    }

    &-main-search {
        height: 45px;
        margin: 40px 0;
        z-index: 99;
        display: inline-block;
        width: 220px;
        margin-right: 20px;
        @media screen and (max-width: $mobile) {
            position: absolute;
            width: 100%;
            left: 0;
            padding: 10px;
            background: #eee;
            top: -400px;
            transition: all 300ms;

            fieldset {
                width: 100%;
            }

            input {
                max-width: 85%;
            }

            &.active {
                top: 80px;
            }
        }

        &-icon {
            @media screen and (max-width: $mobile) {
                position: absolute;
                top: 35px;
                right: 53px;
            }
        }


        legend,
        label,
        select {
            display: none;
        }

        fieldset {
            border: none;
            margin: 0;
            padding: 0;
        }

        input {
            width: 245px;
            height: 45px !important;
            border: none !important;
            box-shadow: none;
            padding-left: 5px;
            vertical-align: middle;
            max-width: 70%;

            @media screen and (max-width: $mobile) {
                width: 290px;
                max-width: 90%;
                border-radius: 0;
            }

            &[type=button] {
                width: 45px;
                background-color: white;
                font-size: 0;
                background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 18.2l-4.8-4.6a8 8 0 001.9-5.1c0-4.5-3.7-8-8.3-8a8.2 8.2 0 00-8.3 8c0 4.4 3.7 8 8.3 8 2 0 3.8-.6 5.2-1.8l4.8 4.6c.3.3.8.3 1.1 0 .3-.3.3-.8 0-1zM8.7 15a6.6 6.6 0 01-6.6-6.5c0-3.6 3-6.5 6.6-6.5 3.7 0 6.6 3 6.6 6.5 0 3.6-3 6.5-6.6 6.5z' fill='%23B51A20'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }

    &-main-account {
        display: flex;
        align-items: center;
        margin-right: 10px;
        padding-right: 10px;
        position: relative;
        text-transform: capitalize;

        @media screen and (max-width: $mobile) {
            display: none;
        }

        &:after {
            content: '';
            position: absolute;
            right: 0;
            width: 1px;
            height: 25px;
            background: white;
        }
    }


    &-main-cart {
        display: flex;
        align-items: center;

        @media screen and (max-width: $mobile) {
            position: absolute;
            top: 30px;
            right: 10px;
        }
    }

    .support-nav {

        @media screen and (max-width: $mobile) {
            display: none;
        }

        ul {
            display: flex;

            li {
                margin-right: 15px;
                text-transform: uppercase;
                
                @media screen and (max-width:767px) {
                    text-transform: capitalize;
                }
                
                &.franqueado{
                    
                    a{
                        font-weight: 700;
                        display: flex;
                        
                        &:before{
                            content: '';
                            width: 30px;
                            height: 15px;
                            margin-top: 5px;
                            margin-right: 5px;
                            background-image: url('/arquivos/oclin_franq.png');
                            background-repeat: no-repeat;
                            background-size: 100%;
                        }
                    }
                    
                    @media screen and (max-width:767px) {
                        background-color: #D91E25 !important;
                        
                        a{
                            color: white !important;
                            &:before{
                                margin-right: 15px;
                                background-image: url('/arquivos/oclin_franq_white.png') !important;
                            }
                        }
                    }
                }
            }
        }
    }

    .goback {
        position: relative;
        display: block;
        width: 100%;
        background: #651215;
        color: white;
        padding: 5px 20px;
        font-weight: normal;
        text-transform: capitalize;
        height: 40px;
        line-height: 40px;
        text-align: left !important;

        &:after {
            display: none;

        }

        &:before {
            content: '';
            width: 6px;
            height: 6px;
            z-index: 1;
            transform: rotate(45deg);
            position: relative;
            display: inline-block;
            margin-right: 5px;
            vertical-align: middle;
            border-left: 1px solid white;
            border-bottom: 1px solid white;
            margin-top: -4px;
        }
    }

    .main-nav {
        position: relative;
        height: 100%;

        &>ul>li>a {
            text-transform: uppercase;
            display: flex;
            align-items: center;
            padding: 5px 0;


            @media screen and (max-width: $mobile) {
                &:before {
                    content: '';
                    position: absolute;
                    right: 10px;
                    width: 6px;
                    height: 6px;
                    z-index: 1;
                    transform: rotate(45deg);
                    vertical-align: middle;
                    border-top: 1px solid white;
                    border-right: 1px solid white;

                }
            }

            &:hover {
                font-weight: bold;
            }
        }

        @media screen and (max-width: $mobile) {
            position: fixed;
            width: 80%;
            height: 100%;
            background: #B51A20;
            top: 0;
            left: 0;
            z-index: 999;
            left: -100%;
            transition: left 300ms;
            overflow-y: auto;

            &>ul {
                align-items: center !important;
                height: auto !important;
                text-transform: uppercase;
                margin-top: 20px !important;

                &>li {
                    padding: 20px 15px;
                    width: 100%;

                    &:not([data-item]) {
                        &>a {
                            &:before {
                                display: none;
                            }
                        }

                    }

                }
            }

            .mobile-nav-login {
                background: #D91E25;
                display: block;
                height: 84px;
                padding: 20px 15px;

                strong {
                    display: block;
                    font-size: 24px;
                }

                span {
                    font-size: 16px;
                }
            }

            .support-nav {
                display: block;

                ul {
                    display: flex;
                    flex-direction: column;
                    padding: 20px 10px;

                    li {
                        margin-right: 10px;
                        border: 1px solid white;
                        text-align: center;
                        padding: 10px;
                        margin-bottom: 10px;
                    }

                }
            }

            &.active {
                left: 0;
            }
        }

        &>ul {
            display: flex;
            justify-content: space-between;
            height: 100%;
            margin: 0;
            align-items: center;

            @media screen and (max-width: $mobile) {
                flex-direction: column;
                justify-content: flex-start;
            }
        }

        &-marcas {
            > a {
                @media screen and (max-width: $mobile)  {
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        right: 10px;
                        width: 6px;
                        height: 6px;
                        z-index: 1;
                        transform: rotate(45deg);
                        border-top: 1px solid #363636;
                        border-right: 1px solid #363636;
                    }
                }
            }

            @media screen and (min-width: $mobile) {
                &:hover{
                    .box_marcas {
                        opacity: 1;
                        visibility: visible;
                    }

                    &:after {
                        width: 100%;
                        height: 3px;
                        background-color: $cor-principal;
                        content: '';
                        display: block;
                        transform: translate(0px, 8px);
                    }
                }
            }

            .box_marcas {
                opacity: 0;
                visibility: hidden;
                position: absolute;
                width: 100%;
                left: 0;
                padding-top: 10px;

                @media screen and (max-width:$mobile){
                    top: 84px;
                    z-index: 2;
                    padding-top: 0;

                    &.active {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                
                .content {
                    padding: 20px 0px 0px 0px;
                    background-color:white;

                    ul {
                        &.lst-submenu-marcas {
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            padding:25px 10px;

                            li {
                                width: 20%;

                                &[data-column="1"] {order: 1;}
                                &[data-column="2"] {order: 2;}
                                &[data-column="3"] {order: 3;}
                                &[data-column="4"] {order: 4;}
                                &[data-column="5"] {order: 5;}
                                
                                @media screen and (max-width:$mobile) {
                                    width: 50%;
                                    margin-bottom: 15px;
                                }

                                a {
                                    display: block;
                                    text-align: left;

                                    @media screen and (max-width:$mobile) {
                                        text-align: center;
                                    }

                                    img {
                                        width: 80%;
                                        height: auto;
                                    }
                                }
                            }
                        }
                    }

                    .dix {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        // padding-bottom: 15px;

                        .column {
                            width: 25%;
                            padding: 0 15px;
                            background-color: #f4f4f4;
                            padding-bottom: 10px;

                            @media screen and (max-width:$mobile) {
                                width: 100%;
                            }

                            ul {
                                li {
                                    margin: 15px 0;
                                    text-transform: capitalize;
                                    
                                    @media screen and (max-width:$mobile) {
                                        font-weight: 600;
                                    }
                                    
                                    &:last-child{
                                        margin-bottom: 0px;   
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &-level-1 {
            display: inline-block;

            .main-nav-level-1-content,
            .main-nav-level-2-content {
                display: none;
            }
            
            &[data-item="oculos-de-grau"]{
                .main-nav-level-3{
                    a{
                        img{
                            padding: 15px 0;
                            
                            &.gatinho{
                                @media screen and (max-width: $mobile) {
                                    padding-top: 0;
                                    padding-bottom: 13px;
                                }
                                @media screen and (min-width: $mobile) {
                                    padding-bottom: 13px;
                                }
                            }
                            
                            &.retangular{
                                @media screen and (min-width: $mobile) {
                                    padding: 20px 0;
                                }
                                
                                &.mob{
                                    @media screen and (max-width: $mobile) {
                                        padding: 20px 0;
                                    }
                                }
                            }
                            
                            &.quadrado{
                                @media screen and (min-width: $mobile) {
                                    padding-bottom: 13px;
                                }
                            }
                        }
                    }
                }
            }

            // &:hover,
            &.active {
                @media screen and (min-width: $mobile) {
                    &:after {
                        width: 100%;
                        height: 3px;
                        background: $cor-principal;
                        content: '';
                        display: block;
                        transform: translate(0px, 8px);
                    }

                }

                .main-nav-level-1-content {
                    display: block;
                    position: absolute;
                    color: black;
                    width: 100%;
                    height: 340px;
                    left: 0;
                    padding-top: 10px;

                    @media screen and (max-width: $mobile) {
                        position: absolute;
                        width: 100%;
                        left: 0;
                        top: 84px;
                        height: auto;
                        padding-top: 0;
                        // min-height: 800px;
                        z-index: 2;
                    }

                    &>ul {
                        width: 25%;
                        background-color: $cor-principal-escuro;
                        height: 100%;

                        @media screen and (max-width: $mobile) {
                            height: auto;
                            padding-top: 25px;
                            width: 100%;
                            padding-bottom: 40px;
                            height: 90%;
                        }



                        &>li {
                            padding: 20px 5px 20px 15px;
                            color: white;
                            transition: all 300ms;

                            @media screen and (max-width: $mobile) {
                                padding: 15px;
                            }

                            &:hover {
                                background-color: darken($cor-principal-escuro, 10);
                            }
                        }
                    }

                    .main-nav-level-2 {

                        &>a {
                            display: block;
                            padding: 5px 0;
                            position: relative;

                            &:before {
                                content: '';
                                position: absolute;
                                right: 10px;
                                width: 6px;
                                height: 6px;
                                transform: rotate(45deg);
                                vertical-align: middle;
                                border-right: 1px solid white;
                                border-top: 1px solid white;
                                z-index: 1;

                            }
                        }


                        //  &:hover,
                        &.active {
                            .main-nav-level-2-content {
                                background: white;
                                display: block;
                                position: absolute;
                                right: 0;
                                top: 10px;
                                width: 75%;
                                height: calc(100% - 10px);
                                padding: 20px 10px;


                                @media screen and (max-width: $mobile) {
                                    width: 100%;
                                    top: 0;
                                    padding: 0;
                                    padding-bottom: 120px;
                                    height: auto;
                                    z-index: 2;
                                }

                                &>a {
                                    position: absolute;
                                    bottom: 20px;
                                    right: 20px;
                                    font-weight: 700;
                                    color: #b51a20;

                                    @media screen and (max-width: $mobile) {
                                        right: 0;
                                        width: 100%;
                                        text-align: center;
                                    }

                                    &.goback {
                                        position: relative;
                                        bottom: auto;
                                        right: auto;
                                        color: white;
                                        font-weight: normal;
                                        text-transform: capitalize;

                                        &:after {
                                            display: none;
                                        }
                                    }

                                    &:after {
                                        content: '';
                                        // content: '\01F812';
                                        display: inline-block;
                                        margin-left: 10px;
                                        background-image: url("data:image/svg+xml,%3Csvg width='12' height='5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.2 4.6L9 3.2H.4V1.9H9A6 6 0 018.2.4h1.2c.7.8 1.4 1.4 2.2 1.8v.7c-.8.4-1.5 1-2.2 1.7H8.2z' fill='%23C53B3B'/%3E%3C/svg%3E");
                                        width: 14px;
                                        height: 13px;
                                        background-position: center;
                                        background-repeat: no-repeat;
                                    }
                                }

                                ul {
                                    display: flex;
                                    flex-wrap: wrap;
                                    height: 100%;

                                    @media screen and (max-width: $mobile) {
                                        height: auto;
                                        ;
                                    }

                                    .main-nav-level-3 {
                                        width: calc(100% /3);
                                        text-align: center;

                                        @media screen and (max-width: $mobile) {
                                            width: calc(100% /2);
                                            padding: 15px 0;
                                        }

                                        img {
                                            max-width: 90%;
                                        }

                                        span {
                                            display: block;
                                            color: black;
                                        }
                                    }
                                }
                            }

                        }
                    }
                }
            }

        }

        &-level-2 {
            &-content {
                display: none;

                // &:first-of-type {
                //     display: block;
                // }
            }
        }
    }

    .result{
        &-search.active {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            display: block !important;
            .container{
                background: #fff;
                position: relative;
                top: 167px;
                padding: 15px 30px;
                z-index: 999;
                overflow: hidden;
            }
            div{
                text-align: center
            }
            .image{
                height:180px;
            }
            img{
                width: 180px;
                display: inline-block;
                position: relative;
                top: 50%;
                transform: translatey(-50%);
            }
            li{
                display: inline-block;
                width: 25%;
                background: #fff
            }
            .result-slick{
                overflow: auto;
            }
            .result--item{
                width: 25%;
            }
            .veja-mais{
                display: none;
                background: #00b67f;
                color: #fff;
                font-weight: 700;
                text-align: center;
                padding: 15px;
                width: 100%;
                margin: o auto;
                max-height: 49px;
                &.visible{
                    display: block;
                }
            }
            .name{
                h3{
                font-weight: 300;
                }
            }
            .box_price{
                p{
                    font-weight: 600;
                }
                .dez_vezes{
                    margin: 0px;
                    font-weight: 300;
                    font-size: 14px;
                }
                .preco{
                    margin-bottom: 0px;
                    margin-top: 5px;
                }
            }
            .blur{
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(0,0,0,.15);
                z-index: 99;
                cursor: pointer;
                &.active{
                    display: block !important;
                    overflow: hidden;
                }
            }
            .result-display{
                height: 310px;
                .arrow-left, .arrow-right{
                    &.visible{
                        display: block !important;
                    }
                    
                    position: absolute;
                    top: 35%;
                    width: 27px;
                    height: 27px;
                    border-radius: 100%;
                    -webkit-box-shadow: 4px 1px 5px -1px rgba(0,0,0,0.32);
                    -moz-box-shadow: 4px 1px 5px -1px rgba(0,0,0,0.32);
                    box-shadow: 4px 1px 5px -1px rgba(0,0,0,0.32);
                    background: #fff;
                    cursor: pointer;
                    img{
                        width: 8px;
                        margin: 6px 0px;
                        top: 0;
                        transform: none;
                    }
                }
                .arrow-right{
                    right: 15px;
                }
            }
            @media screen and (max-width: $mobile) {
                overflow: auto;
                top: 205px;
                .container{
                    top: 0px;
                    overflow: initial;
                }
                li{
                    width: 100%;
                    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
                    a{
                        display: flex;
                        align-items: center;
                    }
                }
                div{
                    text-align: left;
                }
                .infos{
                    margin-left: 10px;
                }
                .name{
                    h3{
                        font-size: 17px;
                        margin: 0px;
                        font-weight: 300;
                    }
                }
                .box_price{
                    p{
                        font-weight: 600;
                        font-size:17px;
                        margin: 5px 0;  
                    }
    
                    .dez_vezes{
                        display: none;
                    }
                }
                .image{
                    display: inline-block;
                    width: 100px;
                    height: 100px;
                    float: left;       
                }
                img{
                    width: 100px;
                } 
                .result-display{
                    display: none;
                }
            }
        }
        &-scroll {
            overflow-y:auto;
            overflow-x:hidden;
            transform-origin:right top;
            height: 99vw;
            -ms-overflow-style: none;
            &.fmore{
                transform: rotate(-90deg) translateY(-325px);
                .result-item {
                    transform: rotate(90deg);
                }
    
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
        &-item {
            height: 25vw;
            padding: 0 15px;
            width: 320px;
            max-height: 360px;
        }
    }
}
.header-main-search {
    height: 45px;
    margin: 40px 0;
    z-index: 99;
    display: inline-block;
    width: 220px;
    margin-right: 20px;
    @media screen and (max-width: $mobile) {
        margin: 0px;
        width: 100%;
        input{        
            max-width: 85%;
        }
    }
}