.home {
    
    h2{
        font-weight: normal;
        text-transform: uppercase;
        letter-spacing: 4px;
    }
    
    &-banner {
        ul {
            margin: 0;

            .slick-slide {
                overflow: hidden;
            }

            img {
                @media screen and (min-width: $mobile) {
                    position: relative;
                    margin-left: 0px;
                    width: 100%;
                    height: auto;
                }

                @media screen and (max-width: $mobile) {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    &-brands {
        .Polaroid-Kids{
            display: none;
        }
        
        .slick-slide {
            display: flex;
            align-items: center;
            height: 100px;
            justify-content: center;

            img {
                width: 165px;
                height: auto;

                @media screen and (max-width: $mobile) {
                    max-width: 100%;
                    height: auto;
                }
            }
        }

        button.slick-prev,
        button.slick-next {
            position: absolute;
            top: 50%;
            margin-top: -10px;
            width: 20px;
            height: 20px;
            font-size: 0;
            border: none;
            border-radius: 20px;
            text-align: center;
            cursor: pointer;
            z-index: 10;

            &:after {
                content: '';
                width: 6px;
                height: 6px;
                transform: rotate(-45deg);
                display: inline-block;
            }
        }

        .slick-prev {
            left: 0;

            @media screen and (max-width: $mobile) {
                left: -10px;
            }

            &:after {
                border-left: 2px solid black;
                border-top: 2px solid black;
            }

        }

        .slick-next {
            right: 0;

            @media screen and (max-width: $mobile) {
                right: -10px;
            }

            &:after {
                border-bottom: 2px solid black;
                border-right: 2px solid black;

            }

        }

    }

    &-middle-content {
        margin: 90px 0;
        
        @media screen and (max-width: $mobile) {
            margin: 20px 0 15px 0;
        }

        h2 { // h3 - > h2  FOR SEO
            color: $cor-principal;
            font-size: 24px;
            margin: 0;
            text-transform: none;
            letter-spacing: inherit;
            font-weight: bold;
            svg{
                @media screen and (max-width: $mobile) {
                    padding-top: 16px;
                }
            }
        }

        .row {
            display: flex;
            align-items: center;
        }

        .col-md-4 {

            @media screen and (max-width: $mobile) {
                text-align: center;
                margin-bottom: 10px;
            }

            img {
                z-index: 99;
                position: relative;
                margin-left: 10px;

                @media screen and (max-width: $mobile) {
                    margin-left: -15px;
                    width: calc(100% + 30px);
                }

            }

            &:last-of-type {
                max-width: 40%;
                flex: 0 0 40%;
                background-color: #fcfcfc;
                margin-left: -110px;
                padding-left: 60px;
                padding-right: 20px;
                padding-top: 10px;
                font-size: 14px;

                @media screen and (max-width: 1349px) {
                    margin-left: 0;
                    padding-right: 0;
                    flex: 0 0 33.333333%;
                    max-width: 33.333333%;
                    padding-left: 0;
                }

                @media screen and (max-width: $mobile) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    text-align: left;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }
        }

        form {
            input {
                height: 40px;
                background-color: #eee;
                border: none;
                width: calc(100% - 40px);
                vertical-align: middle;
                padding-left: 10px;
                border-radius: 0;
            }

            button {
                width: 40px;
                height: 40px;
                background-color: #eee;
                border: none;
                vertical-align: middle;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4 17.3l-4.7-4.5c1.1-1.4 1.8-3 1.8-5A8 8 0 008.3 0 8 8 0 000 7.8a8 8 0 008.3 7.9c2 0 3.8-.7 5.2-1.8l4.7 4.4c.3.3.9.3 1.2 0 .3-.3.3-.7 0-1zM8.3 14a6.5 6.5 0 01-6.7-6.3c0-3.4 3-6.2 6.7-6.2 3.6 0 6.6 2.8 6.6 6.2 0 3.5-3 6.3-6.6 6.3z' fill='%23000'/%3E%3C/svg%3E");
                background-repeat: no-repeat;
                background-position: center;
                border-radius: 0;

            }
        }

        .store-locator-find {
            font-size: 14px;
            font-weight: lighter;
            color: #ccc;
            margin-top: 5px;
            display: block;
            text-decoration: underline;
        }

    }

    &-middle-half-banners,
    &-end-prat-banners {
        margin: 30px 0 10px 0;

        .row {
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: $mobile) {
                justify-content: flex-start;
                flex-direction: column;
            }


        }

        .box-banner {
            max-width: 100%;

            @media screen and (max-width: $mobile) {
                margin-bottom: 15px;
            }

            img {
                max-width: 100%;
                height: auto;
            }
        }
        
        .shelf{
            h2{
                margin-top: 0;
                
                @media screen and (max-width: $mobile) {
                    text-align: center;
                }
            }
            
            ul{
                display: flex;
                justify-content: center;
                
                li{
                    width: 50%;
                    
                    a{
                        h2, h3{ // change h3 to SEO
                            margin-top: 0px;
                            text-transform: capitalize;
                            letter-spacing: normal;
                            font-weight: 700;
                            font-size: 25px;
                        }
                    }
                    
                    &:hover{
                        article{
                            height: 416px;    
                        }
                    }
                }
            }
            
            article{
                height: 416px;
                
                @media screen and (max-width: $mobile) {
                    height: auto;
                }    
            }
            
            .shelf-image{
                height: 215px;
            }
            
            .slick-arrow {
                width: 50px;
                height: 50px;
                border-radius: 50px;
                display: block;
                font-size: 0;
                background-image: url(/arquivos/arrow-basic-left.png?v=10);
                background-repeat: no-repeat;
                background-position: center;
                background-color: transparent !important;
                position: absolute;
                top: 45%;
                margin-top: -25.5px;
                z-index: 1;
                box-shadow: none !important;
                border: none;
                
                &.slick-prev {
                    left: 0px;
                }
            
                &.slick-next {
                    right: 0px;
                    transform: rotate(180deg);
                }
            }
        }

    }

    &-bottom-banner {
        
        .box-banner {
            width: 100%;
            height: auto;

            img {
                width: 100%;
                height: auto;
            }
        }
    }

    &-end-prat-banners{
        margin-top: 60px;
    }
    
    &-blog {
        margin-bottom: 40px;
        
        @media screen and (max-width: $mobile) {
            margin-bottom: 0;
        }
        
        .title {
            text-align: center;
            display: block;
            width: 100%;
            text-transform: uppercase;
            margin: 0px 0 45px;

        }

        #blog-slide {
            padding: 0 15px;
            
            @media screen and (max-width: $mobile) {
                display: block;
                width: 100%;
                margin-left: 0px;
                padding: 0;
                margin-right: 0;

                .slick-list {
                    overflow: visible;
                }
            }

        }

        figure {
            margin: 0;
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }
    
    .prateleira_geral{
        .shelf{
            h2{
                margin-top: 35px;
                text-align: center;
            }
            
            article{
                @media screen and (max-width: $mobile) {
                    height: auto;
                }
            }
            
            ul{
                height: 550px;
                display: flex;
                justify-content: center;
                
                li{
                    width: 25%;
                    
                    &:hover{
                        article{
                            height: 518px;    
                        }
                    }
                    
                    @media screen and (max-width: $mobile) {
                        height: 100%;
                    }
                    
                    a{
                        h2, h3{ // change h3 to SEO
                            margin-top: 0px;
                            text-transform: capitalize;
                            letter-spacing: normal;
                            font-weight: 700;
                            font-size: 25px;
                        }
                    }
                    
                    img{
                        @media screen and (max-width: $mobile) {
                            width: 70%;
                            height: auto;
                            display: table;
                            margin: 0 auto;
                        }
                    }
                }
            }
            
            .slick-arrow {
                width: 50px;
                height: 50px;
                border-radius: 50px;
                display: block;
                font-size: 0;
                background-image: url(/arquivos/arrow-basic-left.png?v=10);
                background-repeat: no-repeat;
                background-position: center;
                background-color: transparent !important;
                position: absolute;
                top: 45%;
                margin-top: -25.5px;
                z-index: 1;
                box-shadow: none !important;
                border: none;
                
                &.slick-prev {
                    left: 10px;
                }
            
                &.slick-next {
                    right: 10px;
                    transform: rotate(180deg);
                }
            }
        }
    }
    
    &-insta{
        margin-bottom: 65px;
        
        @media screen and (max-width: $mobile) {
            margin-bottom: 36px;
        }
        
        h2{
            text-align: center;
        }
        
        #insta-slide {
            @media screen and (max-width: $mobile) {
                display: block;
                width: 100%;
                margin-left: 0px;
                padding: 0;
                margin-right: 0;

                .slick-list {
                    overflow: visible;
                }
            }
        
            article {
                
                width: 100%;
                height: 245px;
                position: relative;
                overflow: hidden;
                
                @media screen and (max-width:$iphone5) {
                    height: 220px;
                }
                
                @media screen and (min-width:$iphone5) and (max-width:$mobile) {
                    height: 250px;
                }
        
                &:hover {
                    @media screen and (min-width: $mobile) {
                        .likes {
                            opacity: 1;
                        }
                    }
                }
        
                a {
                    img {
                        position: absolute;  
                        overflow: hidden;  
                        top: 50%;  
                        left: 50%;  
                        -webkit-transform: translate(-50%,-50%);  
                        -moz-transform: translate(-50%,-50%);  
                        -ms-transform: translate(-50%,-50%);  
                        -o-transform: translate(-50%,-50%);  
                        transform: translate(-50%,-50%); 
                    }
        
                    .likes {
                        width: 100%;
                        height: 100%;
                        line-height: 265px;
                        font-size: 45px;
                        color: #fff;
                        position: absolute;
                        top: 0;
                        left: 0;
                        text-align: center;
                        opacity: 0;
                        transition: opacity 300ms;
                        background-color: rgba(130,130,130,.5);
                        
                        i{
                            color: red;
                        }
                    }
                }
            }
        }
    }
}