.banner-full {
    margin-bottom: 20px;
}

.banner-full-mobile {
    display: none;
}

.banner-full {
    display: block;
}

.banner-marcas #bannersLancamento,
.banner-tripple #bannersLancamento {
    position: relative;
    width: 32.68%;
    display: inline-block;
    text-align: left;
    margin-bottom: 12px;
    margin-right: 10px;
}

.banner-marcas #bannersLancamento img {
    transition: wdith 300ms;
}

.banner-marcas #bannersLancamento img:hover {
    width: 97.9%;
    /*padding: 4px;*/
    box-shadow: 0 0 0 4px #D91E25 inset;
}

.banner-half #bannersLancamento #hover {
    display: none;
    position: absolute;
    top: 50%;
    padding-left: 35%;
}

.banner-half #bannersLancamento img:hover+#hover {
    display: block;
}

.banner-half #bannersLancamento img:hover {
    opacity: .3;
}

.banner-half #bannersLancamento #hover .txt {
    text-transform: uppercase;
    width: 220px;
    font-size: 25px;
    font-weight: 800;
    color: #000;
}

.banner-half #bannersLancamento .txt:before {
    content: "\f061";
    position: absolute;
    font-size: 18px;
    right: 20px;
    padding: 0 1px;
    font-family: FontAwesome;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.banner-half,
.banner-marcas {
    max-width: 1400px;
    widows: 100%;
    margin-bottom: 20px;
}

.banner-half #bannersLancamento {
    position: relative;
    width: 49.5%;
    display: inline-block;
    text-align: left;
    margin-right: 10px;
}

.banner-half #bannersLancamento:nth-last-child(1),
.banner-tripple #bannersLancamento:nth-last-child(1),
.banner-marcas #bannersLancamento:nth-last-child(1),
.banner-marcas #bannersLancamento:nth-last-child(4) {
    margin-right: 0px;
}

@media (max-width: 480px) {
    .banner-tripple {
        display: none;
    }

    .banner-half #bannersLancamento {
        width: 90%;
        margin: 0px 0px 10px 0px;
    }

    .banner-marcas #bannersLancamento {
        width: 45%;
        margin: 0px 5px 10px 5px;
    }

    .banner-full-mobile {
        display: block;
    }

    .banner-full {
        display: none;
    }


}

@media (max-width: 768px) and (min-width: 600px) {
    .banner-tripple {
        display: none;
    }

    .banner-half #bannersLancamento {
        width: 90%;
        margin: 0px 0px 10px 0px;
    }

    .banner-marcas #bannersLancamento {
        width: 45%;
        margin: 0px 0px 10px 0px;
    }
}