.shelf {
    ul {
        flex-wrap: wrap;
    }

    li {
        width: calc(100% / 3);
        height: 460px;
        margin-bottom: 10px;
        float: left;
        position: relative;

        @media screen and (max-width: $mobile) {
            height: 320px;
            width: calc(100% / 2);

        }

        img {
            max-width: 100%;
            height: auto;
        }

        &:hover {
            z-index: 10;

            article {
                height: 525px;
                box-shadow: 0 0 4px 0 #ccc;

                @media screen and (max-width: $mobile) {
                    height: auto;
                }

            }

            .shelf-cta {
                opacity: 1;
                visibility: visible;

                @media screen and (max-width: $mobile) {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        }

    }

    .btn-load-more {
        // display: none;
        border: 1px solid #ccc;
        margin: 40px 0;
        text-align: center;
        line-height: 40px;
        height: 40px;
    }

    article {
        padding: 5px;
        height: 460px;
        position: relative;
        transition: all 300ms;
        text-align: center;
        background-color: white;

        .list_flags {
            display: block;

            .flag {
                font-size: 0;

                &.red-friday-20-,
                &.red-friday-40-,
                &.red-friday-70-{
                    display: inline-block;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    width: 120px;
                    height: 48px;
                    background-size: 100%;
                    background-color: red;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                &.red-friday-20- {
                    background-image: url(/arquivos/tag20.png);
                }

                &.red-friday-40- {
                    background-image: url(/arquivos/tag20.png);
                }

                &.red-friday-70- {
                    background-image: url(/arquivos/tag20.png);
                }
                
                &.carnaval-diniz-oculos-folia{
                    display: inline-block;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    width: 65px;
                    height: 65px;
                    background-size: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url('/arquivos/selo100.png');
                    
                    @media screen and (max-width: $mobile) {
                        width: 55px;
                        height: 55px;
                    }
                }
            }
        }

        @media screen and (max-width: $mobile) {
            height: auto;
        }
    }

    .shelf {
        &-image {
            height: 340px;

            @media screen and (max-width: $mobile) {
                height: auto;
            }
        }

        h2 {
            height: 42px;
            font-weight: 300;
            font-size: 20px;

            @media screen and (max-width: $mobile) {
                height: 57px;
            }
        }

        &-price {
            margin-top: 10px;

            strong,
            em {
                display: block;
            }

            .shelf-price-list {
                display: inline-block !important;
                position: relative;

                &:after {
                    content: '';
                    width: calc(100% + 10px);
                    margin-left: -3px;
                    height: 2px;
                    background-color: red;
                    display: block;
                    position: absolute;
                    top: 9px;
                }
            }

            em {
                color: #666;
                font-size: 13px;
                font-style: normal;

                @media screen and (max-width: $mobile) {
                    font-size: 12px;
                }
            }
        }

        &-cta {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 10px;
            opacity: 0;
            visibility: hidden;
            transition: all 300ms;
            text-transform: uppercase;

            @media screen and (max-width: $mobile) {
                // position: relative;
                // opacity: 1;
                // visibility: visible;
                // bottom: auto;
            }

            span {
                height: 40px;
                background-color: $cor-secundaria;
                color: white;
                text-align: center;
                width: calc(100% - 10px);
                display: block;
                line-height: 40px;
            }
        }
    }
}