.product {
    &.lente {
        .product-brand {
            opacity: 0;
        }

        #options_lente {
            padding-bottom: 10px;
            margin-bottom: 10px;
            border-bottom: 1px solid #eee;

            .option {
                &.repeat {
                    &.option_1 {
                        .title {
                            p {
                                font-size: 0;

                                &:after {
                                    font-size: 14px;
                                    content: 'Selecione abaixo:';
                                }
                            }
                        }
                    }

                    &.option_2 {
                        opacity: 0.3;
                        pointer-events: none;
                    }
                }

                &.option_1 {
                    transition: opacity 300ms;

                    .title {
                        @media screen and (min-width:$mobile) {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;    
                        }

                        @media screen and (max-width:$mobile) {
                            flex-direction: column;
                        }

                        .buy_repeat {
                            cursor: pointer;
                            color: #248086;
                            font-weight: bold;

                            @media screen and (max-width:$mobile) {
                                margin: 20px 0;
                            }

                            input {
                                width: 16px;
                                height: 16px;
                                cursor: pointer;
                                position: relative;
                                margin: 0 3px 0 0;
                                bottom: -3px;

                                &:checked {
                                    &:after {
                                        background-color: #248086;
                                    }
                                }

                                &:after {
                                    content: '';
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 3px;
                                    display: inline-block;
                                    transition: all 300ms;
                                    background-color: #fff;
                                    border: 1px solid #248086;
                                }
                            }
                        }
                    }
                }

                .title {
                    p,
                    label {
                        margin: 0;
                        font-size: 14px;
                        font-weight: bold;
                    }
                    
                    p {
                        text-transform: uppercase;
                    }
                }

                .content {
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        justify-content: space-between;

                        li {
                            width: calc(100% / 4);
                            height: auto;

                            @media screen and (max-width:$mobile) {
                                width: calc(100% / 2 - 10px);
                                margin-bottom: 15px;
                            }

                            span {
                                color: #505050;
                                display: block;
                                font-size: 14px;
                                line-height: 16px;
                                margin-bottom: 5px;
                            }

                            select,
                            input[type="number"] {
                                font-size: 18px;
                                appearance: none;
                                font-weight: normal;
                                -moz-appearance: none;
                                -webkit-appearance: none;
                                -ms-progress-appearance: none;
                            }

                            select {
                                cursor: pointer;
                                background-position: 90%;
                                background-repeat: no-repeat;
                                background-image: url(/arquivos/ico-arrow.png);
                            }

                            .qtd,
                            select {
                                width: 80%;
                                height: 45px;
                                color: #565656;
                                border-radius: 2px;
                                border: 1px solid #EFEFEF;
                                background-color: #F5FAFF;

                                @media screen and (max-width:$mobile) {
                                    width: 100%;
                                }
                            }

                            .qtd {
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                a {
                                    width: 25%;
                                    height: 100%;
                                    font-size: 16px;
                                    font-weight: bold;
                                    line-height: 45px;
                                    text-align: center;
                                }

                                input {
                                    width: 50%;
                                    height: 70%;
                                    border: none;
                                    text-align: center;
                                    pointer-events: none;
                                    background-color: transparent;
                                    border-left: 1px solid #EFEFEF;
                                    border-right: 1px solid #EFEFEF;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    footer {
        position: relative;
    }

    &-main {
        &-image {
            .slick-list {
                overflow: visible;
            }

            .slick-prev,
            .slick-next {
                position: absolute;
                top: 50%;
                width: 56px;
                height: 56px;
                background-color: white;
                border-radius: 56px;
                box-shadow: 0 0 4px 0 #666;
                margin-top: -28px;
                font-size: 0;
                z-index: 99;
                border: none;
            }

            .slick-prev {
                left: 0;

                &:after {
                    content: '';
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    /* background: red; */
                    border-left: 4px solid black;
                    border-bottom: 4px solid black;
                    transform: rotate(45deg);
                    margin-left: 5px;
                    border-radius: 2px;
                }
            }

            .slick-next {
                right: 0;

                &:after {
                    content: '';
                    width: 15px;
                    height: 15px;
                    display: inline-block;
                    /* background: red; */
                    transform: rotate(45deg);
                    border-top: 4px solid black;
                    border-right: 4px solid black;
                    margin-left: -5px;
                    border-radius: 2px;
                }
            }

            .slick-dots {
                li {
                    display: inline-block;
                    width: 125px;
                    transition: all 300ms;

                    @media screen and (max-width: $mobile) {
                        width: 50px;
                    }

                    &.slick-active {
                        box-shadow: 0 0 4px 0 #ccc;
                    }
                }

                button {
                    background: transparent;
                    font-size: 0;
                    border: none;

                    img {
                        max-width: 100%;
                    }
                }
            }
        }

        &-content {
            background-color: white;
            box-shadow: 0 10px 20px 0 #eee;
            padding-bottom: 40px;
        }
    }

    &-name {
        margin-bottom: 20px;
        margin-top: 60px;

        @media screen and (max-width: $mobile) {
            padding-top: 10px;
        }

        .brandName {
            display: block;
            font-size: 30px;
            font-weight: normal;
        }

        h1 {
            color: #c0c0c0;
            font-size: 16px;
            font-weight: lighter;
            margin-top: 5px;

        }

    }

    &-description {
        font-size: 16px;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #eee;
    }

    &-price {

        .descricao-preco:after {
            content: '';
            background-image: url("data:image/svg+xml,%3Csvg width='64' height='26' viewBox='0 0 64 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.3151 8.56665V6.17593C18.3151 2.77065 15.2578 0 11.5003 0C7.74273 0 4.68544 2.77065 4.68544 6.17593V8.56665C3.23686 8.81624 2.12988 10.0787 2.12988 11.598V19.9214C2.12988 21.6187 3.51116 23 5.2089 23H17.7916C19.4893 23 20.8706 21.6187 20.8706 19.921V11.5975C20.8706 10.0787 19.7636 8.81624 18.3151 8.56665ZM5.53729 6.17593C5.53729 3.24002 8.21211 0.851852 11.5003 0.851852C14.7884 0.851852 17.4632 3.24002 17.4632 6.17593V8.51852H5.53729V6.17593ZM20.0188 19.921C20.0188 21.1489 19.0196 22.1481 17.7916 22.1481H5.2089C3.98096 22.1481 2.98173 21.1489 2.98173 19.921V11.5975C2.98173 10.3696 3.98096 9.37037 5.2089 9.37037H17.7916C19.0196 9.37037 20.0188 10.3696 20.0188 11.5975V19.921Z' fill='black'/%3E%3Cpath d='M11.5006 11.9259C10.561 11.9259 9.79688 12.69 9.79688 13.6296V16.1852C9.79688 17.1248 10.561 17.8889 11.5006 17.8889C12.4402 17.8889 13.2043 17.1248 13.2043 16.1852V13.6296C13.2043 12.69 12.4402 11.9259 11.5006 11.9259ZM12.3524 16.1852C12.3524 16.655 11.9704 17.037 11.5006 17.037C11.0308 17.037 10.6487 16.655 10.6487 16.1852V13.6296C10.6487 13.1598 11.0308 12.7778 11.5006 12.7778C11.9704 12.7778 12.3524 13.1598 12.3524 13.6296V16.1852Z' fill='black'/%3E%3Cpath d='M34.0547 8.74414C33.9668 9.49609 33.6885 10.0771 33.2197 10.4873C32.7542 10.8942 32.1341 11.0977 31.3594 11.0977C30.5195 11.0977 29.8457 10.7965 29.3379 10.1943C28.8333 9.59212 28.5811 8.78646 28.5811 7.77734V7.09375C28.5811 6.43294 28.6982 5.85189 28.9326 5.35059C29.1702 4.84928 29.5055 4.46517 29.9385 4.19824C30.3714 3.92806 30.8727 3.79297 31.4424 3.79297C32.1976 3.79297 32.8031 4.00456 33.2588 4.42773C33.7145 4.84766 33.9798 5.43034 34.0547 6.17578H33.1123C33.0309 5.60938 32.8535 5.19922 32.5801 4.94531C32.3099 4.69141 31.9307 4.56445 31.4424 4.56445C30.8434 4.56445 30.373 4.78581 30.0312 5.22852C29.6927 5.67122 29.5234 6.30111 29.5234 7.11816V7.80664C29.5234 8.57812 29.6846 9.19173 30.0068 9.64746C30.3291 10.1032 30.7799 10.3311 31.3594 10.3311C31.8802 10.3311 32.279 10.2139 32.5557 9.97949C32.8356 9.74186 33.0212 9.33008 33.1123 8.74414H34.0547ZM34.958 8.30957C34.958 7.79199 35.0589 7.3265 35.2607 6.91309C35.4658 6.49967 35.749 6.18066 36.1104 5.95605C36.4749 5.73145 36.89 5.61914 37.3555 5.61914C38.0749 5.61914 38.6559 5.86816 39.0986 6.36621C39.5446 6.86426 39.7676 7.52669 39.7676 8.35352V8.41699C39.7676 8.93132 39.6683 9.39355 39.4697 9.80371C39.2744 10.2106 38.9928 10.528 38.625 10.7559C38.2604 10.9837 37.8405 11.0977 37.3652 11.0977C36.6491 11.0977 36.068 10.8486 35.6221 10.3506C35.1794 9.85254 34.958 9.19336 34.958 8.37305V8.30957ZM35.8662 8.41699C35.8662 9.00293 36.0013 9.47331 36.2715 9.82812C36.5449 10.1829 36.9095 10.3604 37.3652 10.3604C37.8242 10.3604 38.1888 10.1813 38.459 9.82324C38.7292 9.46191 38.8643 8.95736 38.8643 8.30957C38.8643 7.73014 38.7259 7.26139 38.4492 6.90332C38.1758 6.54199 37.8112 6.36133 37.3555 6.36133C36.9095 6.36133 36.5498 6.53874 36.2764 6.89355C36.0029 7.24837 35.8662 7.75618 35.8662 8.41699ZM41.75 5.7168L41.7744 6.30273C42.1618 5.84701 42.6842 5.61914 43.3418 5.61914C44.0807 5.61914 44.5837 5.90234 44.8506 6.46875C45.0264 6.21484 45.2542 6.00977 45.5342 5.85352C45.8174 5.69727 46.151 5.61914 46.5352 5.61914C47.694 5.61914 48.2832 6.23275 48.3027 7.45996V11H47.3994V7.51367C47.3994 7.13607 47.3132 6.85449 47.1406 6.66895C46.9681 6.48014 46.6784 6.38574 46.2715 6.38574C45.9362 6.38574 45.6579 6.48665 45.4365 6.68848C45.2152 6.88704 45.0866 7.1556 45.0508 7.49414V11H44.1426V7.53809C44.1426 6.76986 43.7666 6.38574 43.0146 6.38574C42.4222 6.38574 42.0169 6.63802 41.7988 7.14258V11H40.8955V5.7168H41.75ZM54.1328 8.41699C54.1328 9.22103 53.9489 9.86882 53.5811 10.3604C53.2132 10.8519 52.7152 11.0977 52.0869 11.0977C51.4456 11.0977 50.9411 10.8942 50.5732 10.4873V13.0312H49.6699V5.7168H50.4951L50.5391 6.30273C50.9069 5.84701 51.418 5.61914 52.0723 5.61914C52.707 5.61914 53.2083 5.8584 53.5762 6.33691C53.9473 6.81543 54.1328 7.48112 54.1328 8.33398V8.41699ZM53.2295 8.31445C53.2295 7.71875 53.1025 7.24837 52.8486 6.90332C52.5947 6.55827 52.2464 6.38574 51.8037 6.38574C51.2568 6.38574 50.8467 6.62826 50.5732 7.11328V9.6377C50.8434 10.1195 51.2568 10.3604 51.8135 10.3604C52.2464 10.3604 52.5898 10.1895 52.8438 9.84766C53.1009 9.5026 53.2295 8.99154 53.2295 8.31445ZM57.8389 6.52734C57.7021 6.50456 57.554 6.49316 57.3945 6.49316C56.8021 6.49316 56.4001 6.74544 56.1885 7.25V11H55.2852V5.7168H56.1641L56.1787 6.32715C56.4749 5.85514 56.8949 5.61914 57.4385 5.61914C57.6143 5.61914 57.7477 5.64193 57.8389 5.6875V6.52734ZM61.7402 11C61.6882 10.8958 61.6458 10.7103 61.6133 10.4434C61.1934 10.8796 60.6921 11.0977 60.1094 11.0977C59.5885 11.0977 59.1605 10.9512 58.8252 10.6582C58.4932 10.362 58.3271 9.98763 58.3271 9.53516C58.3271 8.98503 58.5355 8.55859 58.9521 8.25586C59.3721 7.94987 59.9613 7.79688 60.7197 7.79688H61.5986V7.38184C61.5986 7.06608 61.5042 6.81543 61.3154 6.62988C61.1266 6.44108 60.8483 6.34668 60.4805 6.34668C60.1582 6.34668 59.888 6.42806 59.6699 6.59082C59.4518 6.75358 59.3428 6.95052 59.3428 7.18164H58.4346C58.4346 6.91797 58.5273 6.66406 58.7129 6.41992C58.9017 6.17253 59.1556 5.97721 59.4746 5.83398C59.7969 5.69076 60.1501 5.61914 60.5342 5.61914C61.1429 5.61914 61.6198 5.77214 61.9648 6.07812C62.3099 6.38086 62.4889 6.79915 62.502 7.33301V9.76465C62.502 10.2497 62.5638 10.6354 62.6875 10.9219V11H61.7402ZM60.2412 10.3115C60.5244 10.3115 60.793 10.2383 61.0469 10.0918C61.3008 9.94531 61.4847 9.75488 61.5986 9.52051V8.43652H60.8906C59.7839 8.43652 59.2305 8.76042 59.2305 9.4082C59.2305 9.69141 59.3249 9.91276 59.5137 10.0723C59.7025 10.2318 59.945 10.3115 60.2412 10.3115ZM30.9199 19.8311C30.1159 19.5999 29.5299 19.3167 29.1621 18.9814C28.7975 18.6429 28.6152 18.2262 28.6152 17.7314C28.6152 17.1715 28.8382 16.7093 29.2842 16.3447C29.7334 15.9769 30.3161 15.793 31.0322 15.793C31.5205 15.793 31.9551 15.8874 32.3359 16.0762C32.7201 16.265 33.0163 16.5254 33.2246 16.8574C33.4362 17.1895 33.542 17.5524 33.542 17.9463H32.5996C32.5996 17.5166 32.4629 17.1797 32.1895 16.9355C31.916 16.6882 31.5303 16.5645 31.0322 16.5645C30.57 16.5645 30.2087 16.667 29.9482 16.8721C29.6911 17.0739 29.5625 17.3555 29.5625 17.7168C29.5625 18.0065 29.6846 18.2523 29.9287 18.4541C30.1761 18.6527 30.5944 18.835 31.1836 19.001C31.776 19.167 32.2383 19.3509 32.5703 19.5527C32.9056 19.7513 33.153 19.984 33.3125 20.251C33.4753 20.5179 33.5566 20.832 33.5566 21.1934C33.5566 21.7695 33.332 22.2318 32.8828 22.5801C32.4336 22.9251 31.833 23.0977 31.0811 23.0977C30.5928 23.0977 30.137 23.0049 29.7139 22.8193C29.2907 22.6305 28.9635 22.3734 28.7324 22.0479C28.5046 21.7223 28.3906 21.3529 28.3906 20.9395H29.333C29.333 21.3691 29.4909 21.7093 29.8066 21.96C30.1257 22.2074 30.5505 22.3311 31.0811 22.3311C31.5758 22.3311 31.9551 22.2301 32.2188 22.0283C32.4824 21.8265 32.6143 21.5514 32.6143 21.2031C32.6143 20.8548 32.4922 20.5863 32.248 20.3975C32.0039 20.2054 31.5612 20.0166 30.9199 19.8311ZM36.8135 23.0977C36.0973 23.0977 35.5146 22.8633 35.0654 22.3945C34.6162 21.9225 34.3916 21.2926 34.3916 20.5049V20.3389C34.3916 19.8148 34.4909 19.3477 34.6895 18.9375C34.8913 18.5241 35.1712 18.2018 35.5293 17.9707C35.8906 17.7363 36.2812 17.6191 36.7012 17.6191C37.388 17.6191 37.9219 17.8454 38.3027 18.2979C38.6836 18.7503 38.874 19.3981 38.874 20.2412V20.6172H35.2949C35.3079 21.138 35.4593 21.5596 35.749 21.8818C36.042 22.2008 36.4131 22.3604 36.8623 22.3604C37.1813 22.3604 37.4515 22.2952 37.6729 22.165C37.8942 22.0348 38.0879 21.8623 38.2539 21.6475L38.8057 22.0771C38.363 22.7575 37.6989 23.0977 36.8135 23.0977ZM36.7012 18.3613C36.3366 18.3613 36.0306 18.4948 35.7832 18.7617C35.5358 19.0254 35.3828 19.3965 35.3242 19.875H37.9707V19.8066C37.9447 19.3477 37.821 18.9928 37.5996 18.7422C37.3783 18.4883 37.0788 18.3613 36.7012 18.3613ZM39.709 20.3145C39.709 19.4909 39.8994 18.8366 40.2803 18.3516C40.6611 17.8633 41.1657 17.6191 41.7939 17.6191C42.4385 17.6191 42.9414 17.847 43.3027 18.3027L43.3467 17.7168H44.1719V22.873C44.1719 23.5566 43.9684 24.0954 43.5615 24.4893C43.1579 24.8831 42.6143 25.0801 41.9307 25.0801C41.5498 25.0801 41.1771 24.9987 40.8125 24.8359C40.4479 24.6732 40.1696 24.4502 39.9775 24.167L40.4463 23.625C40.8337 24.1035 41.3073 24.3428 41.8672 24.3428C42.3066 24.3428 42.6484 24.2191 42.8926 23.9717C43.14 23.7243 43.2637 23.376 43.2637 22.9268V22.4727C42.9023 22.8893 42.4092 23.0977 41.7842 23.0977C41.1657 23.0977 40.6644 22.8486 40.2803 22.3506C39.8994 21.8525 39.709 21.1738 39.709 20.3145ZM40.6172 20.417C40.6172 21.0127 40.7393 21.4814 40.9834 21.8232C41.2275 22.1618 41.5693 22.3311 42.0088 22.3311C42.5785 22.3311 42.9967 22.0723 43.2637 21.5547V19.1426C42.987 18.638 42.5719 18.3857 42.0186 18.3857C41.5791 18.3857 41.2357 18.5566 40.9883 18.8984C40.7409 19.2402 40.6172 19.7464 40.6172 20.417ZM48.8008 22.4775C48.4492 22.891 47.9333 23.0977 47.2529 23.0977C46.6898 23.0977 46.2601 22.9349 45.9639 22.6094C45.6709 22.2806 45.5228 21.7956 45.5195 21.1543V17.7168H46.4229V21.1299C46.4229 21.9307 46.7484 22.3311 47.3994 22.3311C48.0895 22.3311 48.5485 22.0739 48.7764 21.5596V17.7168H49.6797V23H48.8203L48.8008 22.4775ZM53.6104 18.5273C53.4736 18.5046 53.3255 18.4932 53.166 18.4932C52.5736 18.4932 52.1715 18.7454 51.96 19.25V23H51.0566V17.7168H51.9355L51.9502 18.3271C52.2464 17.8551 52.6663 17.6191 53.21 17.6191C53.3857 17.6191 53.5192 17.6419 53.6104 17.6875V18.5273ZM57.5117 23C57.4596 22.8958 57.4173 22.7103 57.3848 22.4434C56.9648 22.8796 56.4635 23.0977 55.8809 23.0977C55.36 23.0977 54.932 22.9512 54.5967 22.6582C54.2646 22.362 54.0986 21.9876 54.0986 21.5352C54.0986 20.985 54.307 20.5586 54.7236 20.2559C55.1436 19.9499 55.7327 19.7969 56.4912 19.7969H57.3701V19.3818C57.3701 19.0661 57.2757 18.8154 57.0869 18.6299C56.8981 18.4411 56.6198 18.3467 56.252 18.3467C55.9297 18.3467 55.6595 18.4281 55.4414 18.5908C55.2233 18.7536 55.1143 18.9505 55.1143 19.1816H54.2061C54.2061 18.918 54.2988 18.6641 54.4844 18.4199C54.6732 18.1725 54.9271 17.9772 55.2461 17.834C55.5684 17.6908 55.9215 17.6191 56.3057 17.6191C56.9144 17.6191 57.3913 17.7721 57.7363 18.0781C58.0814 18.3809 58.2604 18.7992 58.2734 19.333V21.7646C58.2734 22.2497 58.3353 22.6354 58.459 22.9219V23H57.5117ZM56.0127 22.3115C56.2959 22.3115 56.5645 22.2383 56.8184 22.0918C57.0723 21.9453 57.2562 21.7549 57.3701 21.5205V20.4365H56.6621C55.5553 20.4365 55.002 20.7604 55.002 21.4082C55.002 21.6914 55.0964 21.9128 55.2852 22.0723C55.474 22.2318 55.7165 22.3115 56.0127 22.3115Z' fill='black'/%3E%3C/svg%3E%0A");
            display: block;
            width: 100px;
            height: 40px;
            float: right;
            margin-top: -40px;
            background-position: center;
            background-repeat: no-repeat;
            border-left: 1px solid #eee;
        }

        .valor-por {
            font-size: 0;

            strong {
                font-size: 26px;
                font-style: normal;
            }
        }

        .price-cash {
            display: none !important;
        }

        .price-list-price {
            display: inline-block !important;
            position: relative;

            &:after {
                content: '';
                width: calc(100% + 10px);
                margin-left: -3px;
                height: 2px;
                background-color: red;
                display: block;
                position: absolute;
                top: 9px;
            }
        }

        .economia-de {
            font-style: normal;
            font-weight: bold;
        }

        .valor-dividido {
            font-style: normal;

            span {
                span {
                    font-size: 0;
                    color: #666;

                    &.x {
                        font-size: 16px;
                        font-weight: bold;
                        color: black;

                        @media screen and (max-width: $mobile) {
                            font-size: 13px;
                        }
                    }

                    label {
                        font-size: 16px;
                        font-weight: bold;
                        color: black;

                        &:before {
                            content: 'Em at\00E9 ';
                            display: inline-block;
                            font-weight: normal;
                            color: #666;
                            margin-right: 5px;

                            @media screen and (max-width: $mobile) {
                                font-size: 13px;
                            }

                        }

                        &:after {
                            content: ' de ';
                            display: inline-block;
                            font-weight: normal;
                            color: #666;
                            margin: 0 5px;

                            @media screen and (max-width: $mobile) {
                                font-size: 13px;
                            }

                        }
                    }
                }

                strong {
                    label {
                        color: black;

                        &:after {
                            content: ' sem juros';
                            font-weight: normal;
                            font-size: 16px;
                            color: #666;

                            @media screen and (max-width: $mobile) {
                                font-size: 13px;
                            }
                        }
                    }
                }
            }
        }

    }

    &-buy {
        a {
            width: 100%;
            height: 60px;
            line-height: 60px;
            text-align: center;
            color: white;
            background-color: $cor-secundaria;
            display: block;
            font-size: 26px;
            text-transform: uppercase;
            box-shadow: 0 1px 6px 0 #eee;
            letter-spacing: 5px;
        }
    }

    &-extra-info {
        margin: 5px 0;

        @media screen and (max-width: $mobile) {
            text-align: center;
        }

        small {
            font-weight: bold;
            color: #555555;
            font-size: 18px;
        }

        &-variable {
            text-align: center;
            background-color: #F6F6F6;
            text-align: center;
            padding: 10px 0;
            margin-top: 10px;

            p {
                margin: 0;
            }

            i,
            span {
                vertical-align: middle;
                margin: 0 5px;
            }
        }
    }

    &-espec,
    &-size-table {
        max-height: 40px;
        transition: all 300ms;
        overflow: hidden;


        /* width */
        ::-webkit-scrollbar {
            width: 20px;
            height: 9px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            border-radius: 10px;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background-color: $cor-principal;
            border-radius: 10px;
        }

        .coluna-tamanho {
            overflow: scroll;
            padding-bottom: 20px;
        }

        &.active {
            max-height: 2000px;

            h4 {
                &:before {
                    content: '-';
                }
            }
        }

        h4 {
            font-weight: 300;
            font-size: 16px;

            &:before {
                content: '+';
                display: inline-block;
                width: 30px;
                vertical-align: middle;
                font-weight: bold;
                font-size: 18px;
                margin-top: -5px;

            }
        }
    }

    &-espec {
        text-align: left;

        #caracteristicas table {
            padding: 0 40px;
            display: block;
            width: 100%;
            font-size: 14px;
        }

        th,
        td {
            display: inline-block;
            margin-right: 5px;
            margin-bottom: 5px;
            vertical-align: text-top;
        }
    }


    &-size-table {

        #caracteristicas {
            display: none;
        }

        .wrapper-desenho-oculos {
            width: 450px;
            padding-top: 0;
            background: url(https://oticasdiniz.vteximg.com.br/arquivos/sizes.png?v1) 40px 0 no-repeat;
            background-size: 100%;
            position: relative;
            height: 340px;
            background-position: center;

        }

        .coluna-tamanho .wrapper-desenho-oculos span {
            color: #AFAFAF;
            display: block;
            font-size: 11px;
            position: absolute
        }

        .coluna-tamanho .wrapper-desenho-oculos span.largura-lente {
            left: 320px;
            top: 170px;

        }

        .coluna-tamanho .wrapper-desenho-oculos span.ponte {
            left: 213px;
            top: 173px;

        }

        .coluna-tamanho .wrapper-desenho-oculos span.altura-lente {
            left: 15px;
            top: 70px;
        }

        .coluna-tamanho .wrapper-desenho-oculos span.haste {
            left: 212px;
            top: 236px;

        }

    }

    &-brand {
        margin: 60px 0;

        .product-brand-image {
            @media screen and (min-width: $mobile) {
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        @media screen and (max-width: $mobile) {
            text-align: center;

            .offset-1 {
                margin: 0 !important;
            }

            img {
                max-height: 90px;
            }
        }

        .row {
            align-items: center;
        }

        &-description {
            font-size: 18px;

            @media screen and (max-width: $mobile) {
                font-size: 14px;
            }

            &:before {
                content: '';
                width: 1px;
                height: 120px;
                display: block;
                background: #ccc;
                position: absolute;
                top: -20px;
                left: -30px;
            }
        }
    }
}