/*2019*/
body.ano_2019 .apoiadores {
    display: flex;
}

body.ano_2019 .blc_3,
body.ano_2019 #search_participantes {
    display: block;
}
/*2019*/

.teleton-content {
    // margin: 60px 0;
    display: flex !important;
    justify-content: space-between;
    margin-top: -100px;

}

.teleton-content .description {
    color: #737373;
        margin: 0;
    font-weight: normal;
    font-size: 18px;
}

.teleton-content .col-6 {
    width: 48%;
    color: white;
    font-size: 18px;
    float: left;
}

.teleton-content .col-12:first-child img {
    width: 100%;
    height: auto;
}

.teleton-content p.title {
    // color: white;
    font-weight: bold;
    font-size: 30px !important;
    margin-bottom: 40px;
    line-height: 1.2;
    color: #D91E25;
}

div.teleton-box {
    position: relative;
    // color: white;
    // background-color: #c4161c;
    border-radius: 60px;
    padding: 60px;
    padding-bottom: 0;
    padding-top: 100px;
    width: 91%;
}

// div.teleton-box:after {
//     content: "";
//     width: 100%;
//     height: 100%;
//     display: block;
//     position: absolute;
//     top: -20px;
//     right: -30px;
//     background-color: #8d1d32;
//     z-index: -1;
//     border-radius: 60px;
// }

/* qa feito no dia 30/11 */

.diniz_social .blc_2 {
    background-color: #e0d2dd;
    height: auto;
    border-bottom: 20px solid #8d1d32;
    background-image: none;
    background-repeat: no-repeat;
    background-position: right top -189px;
    margin-top: 60px;
    background-image: url(/arquivos/background_social.jpg?v=100);
    background-size: 100%;
}

@media screen and (min-width: 600px) and (max-width: 1400px) {
    .diniz_social .blc_2 {
        background-position: right top -68px;
    }

    // .diniz_social .blc_1 p, .diniz_social .blc_3 .teleton-box p.description {
    //     font-size: 12px !important;
    // }
    // .diniz_social .blc_3 .teleton-box p.title {
    //     font-size: 24px !important;
    // }
}


.diniz_social .blc_2 .container {
    height: auto;
    // background-image: url(/arquivos/background_social.jpg?v=100);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: right top;
    margin-top: 60px;
    padding-bottom: 100px;
}
/* qa feito no dia 30/11 */

@media screen and (max-width: 768px) {
    .teleton-content {
        flex-direction: column;
    }

    div.teleton-box + img{
        margin: -60px auto 20px !important;
        display: block !important;

    }

    .teleton-content .col-6 {
        width: 100%;
    }

    .diniz_social .blc_3 .description {
        // color: white;
        // padding: 20px 30px !important;
        margin: 0 35px 70px !important;
    }

    .teleton-content .col-6:first-child img {
        max-width: calc(100% + 30px);
        margin-left: -15px;
    }


    div.teleton-box {
        width: calc(100% + 30px);
        margin-left: -15px;
        margin-top: 20px;
        border-radius: 20px;
        padding: 0;
    }

    div.teleton-box p.title {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
        margin-top: 10px;
        padding-top: 40px;
        font-size: 21.4px;
        text-align: left;
        padding: 15px;
        padding-right: 50px;
        margin-left: 20px;
    }

    div.teleton-box:after {
        top: -15px;
        border-radius: 0;
        left: -15px;
        width: calc(100% + 30px);

    }
}

div.teleton-box + img{
    margin-left: 60px;
    margin-top: -30px;
}

body.diniz_social.active {
    overflow: hidden;
}

.diniz_social {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}

.diniz_social .container .row {
    margin-left: 0;
}

.diniz_social .dis-none {
    display: none;
}

.diniz_social #overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000082;
    transition: all 300ms;
    opacity: 0;
    visibility: hidden;
    z-index: 5;
}

.diniz_social #overlay.active {
    opacity: 1;
    visibility: visible;
}

.diniz_social .pop_up_list {
    width: 800px;
    height: auto;
    position: fixed;
    top: 50%;
    margin-top: -150px;
    left: 48%;
    margin-left: -390px;
    background-color: white;
    display: block;
    z-index: 6;
    transition: all 300ms;
    transform: scale(0);
    opacity: 0;
    
    &.active {
        transform: scale(1);
        opacity: 1;
    }
    
    .head {
        height: 80px;
        background: #c4161c;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        
        span {
            cursor: pointer;
        }
    }
    
    .content {
        padding: 10px;
        background-color: #f7f7f7;
        max-height: 288px;
        overflow-x: hidden;
        
        ul{
            li {
                background-color: #fff;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 10px;
                
                &:last-child {
                    margin-bottom: 0;
                }
                
                i {
                    margin-right: 20px;
                }
                
                p {
                   font-style: normal;
                   font-weight: normal;
                   font-size: 18px;
                   line-height: 17.5px;
                   display: table;
                   margin: 0 auto 10px 0;
                   align-items: center;
                   
                   span{
                      line-height: normal;
                   }
               }
               
               a {
                   font-style: normal;
                   font-weight: bold;
                   font-size: 20px;
                   line-height: 23px;
                   text-align: center;
                   color: #00b67f;
                   border: 2px solid #00b67f;
                   display: block;
                   width: 170px;
                   height: 40px;
                   line-height: 40px;
                   border-radius: 3px;
               }
            }
        } 
    }
}

.diniz_social .full_banner .desktop .box-banner {
    position: relative;
    // left: 50%;
    // margin-left: -699px;
}

.diniz_social .full_banner .mobile .box-banner {
    margin-right: -15px;
    margin-left: -16px;
}

.diniz_social p {
    margin-bottom: 0;
}

.diniz_social .time_line .row,
.diniz_social .time_line ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.diniz_social .time_line ul li {
    margin-right: 30px;
}

.diniz_social .time_line ul li:last-child {
    margin-right: 0;
}

.diniz_social .time_line ul li a {
    font-size: 18px;
    color: #383838;
}

.diniz_social .time_line ul li a.active {
    font-size: 30px;
    border-bottom: 2px solid #d91e25;
    color: #d91e25;
    font-weight: bold;
    padding: 0 5px;
}

.diniz_social .time_line {
    padding: 20px 0 40px;
}

.diniz_social .time_line p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    margin-right: 15px;
    margin-top: 0;
}

.diniz_social #search_participantes {
    background-color: #c4161c;
    padding: 20px 0;
    margin-top: 60px;
    display: none;
}

.diniz_social #search_participantes section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.diniz_social #search_participantes section p {
    font-size: 18px;
    line-height: 21px;
    margin-right: 15px;
    margin-bottom: 0;
    color: #fff;
    display: flex;
    align-items: center;
}

.diniz_social #search_participantes section p i {
    margin-right: 15px;
}

.diniz_social #search_participantes section ul {
    display: flex;
    align-content: center;
}

.diniz_social #search_participantes section ul li select.disabled {
    background-color: #dcdcdc;
    pointer-events: none;
}

.diniz_social #search_participantes section ul li select {
    width: 255px;
    height: 45px;
    background-color: #fff;
    text-indent: 10px;
    margin-right: 30px;
    border: none;
    border-radius: 0;
    font-size: 16px;
    cursor: pointer;
}

.diniz_social #search_participantes section button {
    width: 120px;
    height: 45px;
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
    border: none;
    appearance: none;
    font-weight: bold;
}

.diniz_social .blc_1 .depoimento .column_1 img {
    width: 100%;
    height: auto;
}

.diniz_social .blc_1 article {
    z-index: 1;
}

.diniz_social .blc_1 {
    position: relative;
}

.diniz_social .blc_1:after {
    height: 461px!important;
}

.diniz_social .blc_1 article{
    position: relative;
    background-color: #c4161c;
    border-radius: 60px;
    padding: 20px 120px 60px;
    // width: 99%;
    box-shadow: 40px -40px 0 0 #8d1d32;
    max-width: 90vw;
    margin: 0 auto;

}

.diniz_social .blc_3 {
    display: none;
    position: relative;
    z-index: 1;
    width: 100%;
}

.diniz_social .blc_3 article{
    position: relative;
    background-color: #c4161c;
    border-radius: 0;
    padding: 60px;
    // width: 99%;
}

.diniz_social .blc_3 article:after {
    content: "";
    width: 98%;
    max-width: 50%;
    height: 100%;
    display: block;
    position: absolute;
    top: -20px;
    left: 0;
    background-color: #8d1d32;
    border-radius: 60px;
}

.diniz_social .blc_3 article p {
    text-align: center;
    max-width: 950px;
    margin: 20px auto;

}

.diniz_social .blc_3 article:after {
    z-index: -1;
}

div.teleton-box .title,
.diniz_social .blc_1 article .title,
.diniz_social .blc_3 article .title {
    text-transform: initial;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 40px;
}

div.teleton-box .description,
.diniz_social .blc_1 article .description,
.diniz_social .blc_3 article .description {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 70px;
}

.diniz_social .blc_3 article {
    // max-width: 750px;
    margin-top: -30px;
    // background-image: url(/arquivos/emoji_social.png);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: 95% 95%;
    padding-bottom: 180px;
}

.diniz_social .blc_3 article .description {
    margin-bottom: 0;
}

.diniz_social .blc_1 article .title,
.diniz_social .blc_1 article .description,
.diniz_social .blc_3 article .title,
.diniz_social .blc_3 article .description {
    color: #fff;
}

.diniz_social .blc_1 .depoimento {
    display: flex;
    flex-wrap: wrap;
    margin-top: -95px;
    z-index: 1;
    position: relative;
    padding: 0 120px;
}

.diniz_social .blc_1 .depoimento .column_1 {
    width: 40%;
}

.diniz_social .blc_1 .depoimento .column_2 {
    width: 60%;
    padding-top: 100px;
}

.diniz_social .blc_2 .column_1 {
    margin-top: 0;
}

.diniz_social .blc_2 .cards {
    margin-top: 60px;
}

.diniz_social .blc_2 .cards>p.title {
    line-height: 33px;
    color: #65324A;
    text-transform: inherit;
}

.diniz_social .blc_2 .column_1 .content>p small {
    margin-bottom: 30px;
    display: block;
}

.diniz_social .blc_2 .cards>p.title strong {
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    display: block;
}

.diniz_social .blc_2 .cards>p.title small {
    font-size: 29px;
}

.diniz_social .blc_2 .cards ul {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.diniz_social .blc_2 .cards ul li {
    width: 220px;
    height: 342px;
    background-color: #FFFFFF;
    margin-right: 15px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.diniz_social .blc_2 .cards ul li i {
    height: 217px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diniz_social .blc_2 .cards ul li i img {
    width: 100%;
    height: auto;
}

.diniz_social .blc_2 .cards ul li p strong {
    font-style: normal;
    font-weight: bold;
    line-height: initial;
    text-align: center;
    font-size: 50px;
    display: block;
    color: #D91E25;
}

.diniz_social .blc_2 .cards ul li p small {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.diniz_social .blc_2 .cards p.obs {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #65324A;
    max-width: 690px;
    text-align: right;
}

.diniz_social .blc_2 .content>p {
    display: flex;
    align-items: center;
}

.diniz_social .blc_2 .video {
    margin-top: 20px;
}

.diniz_social .blc_2 .column_1 .content>p strong {
    font-size: 150px;
    font-weight: bold;
    color: #c4161c;
}

.diniz_social .blc_2 .column_1 .content>p small {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #424242;
    margin: 0;
    text-align: center;
}

.diniz_social .blc_1 .depoimento .column_2 p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    padding-left: 40px;
    padding-top: 30px;
}

.diniz_social .apoiadores p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.diniz_social .apoiadores {
    display: none;
    justify-content: center;
    align-items: center;
}

.diniz_social .apoiadores ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.diniz_social .api_pinterest {
    margin-top: 40px;
    text-align: center;
}

.diniz_social .api_pinterest h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-transform: inherit;
    line-height: 24px;
}

.diniz_social .api_pinterest ul {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.diniz_social .api_pinterest ul li a {
    width: 405px;
    height: 405px;
    display: block;
    overflow: hidden;
    margin-right: 10px;
    position: relative;
}

.diniz_social .api_pinterest ul li:last-child a {
    margin-right: 0;
}

.diniz_social .api_pinterest ul li a img {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 720px;
}

.diniz_social .api_pinterest>a {
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    display: block;
    padding: 30px 0;
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.diniz_social .api_pinterest>a img {
    margin-right: 15px;
}

@media screen and (max-width: 940px) {
    .diniz_social .blc_2 .container{
        background: none !important;
        padding-bottom: 0;
        margin-top: 0;
    }

    .diniz_social .blc_3 article:after {        
        max-width: 100%;
        width: 100%;
        

    }

    .diniz_social .blc_2 .cards p.obs {

        display: block !important;
        text-align: center;
        padding: 11px;
    }

    div.teleton-box .description {
        
    }

    .teleton-content {
        margin-top: 0 !important;
    }


     .teleton-content .col-12 {
         padding-left: 0;
         padding-right: 0;
     }
    
    body.ano_2019 .blc_2,
    body.ano_2018 .blc_2,
    body.ano_2017 .blc_2,
    body.ano_2016 .blc_2 {
        background-position: top !important;
        background-image: url(/arquivos/background_social_mobile.jpg) !important;
    }
    
    .diniz_social .api_pinterest>a img{
        margin-right: 0px;
        margin-left: 15px;
    }

    .diniz_social .blc_2 .cards ul li i img {
        width: 85%;
    }

    .diniz_social .blc_2 .column_1 {
        width: 100%;
        margin-top: 0;
    }

    .diniz_social .pop_up_list {
        width: calc(100% - 30px);
        left: 15px;
        margin: 0;
        top: 80px;
    }

    .diniz_social .pop_up_list .head p {
        font-size: 16px;
    }

    .diniz_social .pop_up_list .content ul li {
        flex-direction: column;
    }

    .diniz_social .pop_up_list .content ul li a {
        margin-top: 10px;
    }

    .diniz_social .pop_up_list .content ul li p {
        font-size: 15px;
    }

    .diniz_social .pop_up_list .content {
        height: 350px;
        overflow: scroll;
    }

    .diniz_social .container,
    .diniz_social .pop_up_list .content ul li a {
        width: 100%;
    }

    .diniz_social .apoiadores ul .box-banner a img{
        width: 130px !important;
        height: 134px !important;
    }
    .diniz_social .full_banner .mobile img
     {
        width: 100%;
        height: auto;
    }

    .diniz_social .mobile {
        display: block !important;
    }

    .diniz_social .blc_1 .depoimento .column_2 p {
        padding-top: 0;
        padding-left: 0;
    }

    .diniz_social .blc_3 {
        // padding-top: 10px;
    }

    .diniz_social .blc_2 .cards {
        margin-top: 0;
    }

    .diniz_social .api_pinterest ul {
        margin-right: -15px;
        margin-left: -15px;
    }

    .diniz_social .blc_2 .cards ul li {
        display: block;
        height: auto;
    }

    .diniz_social .blc_2 .cards ul li p strong {
        font-size: 25px;
    }

    .diniz_social .blc_2 .cards ul {
        justify-content: space-between;
        padding: 0 15px;
    }

    .diniz_social .blc_2 .cards ul li i {
        height: 150px;
    }

    .diniz_social .blc_2 .cards ul li p {
        margin-top: 0;
        text-align: center;
    }

    .diniz_social .blc_2 .column_1 .content>p strong {
        font-size: 80px;
    }

    .diniz_social .blc_2 .cards ul li p small {
        max-width: 78%;
        display: block;
        margin: 0 auto 10px;
        line-height: 19px;
    }

    .diniz_social .blc_2 .cards>p.title {
        text-align: center;
        margin-top: 56px;
    }

    .diniz_social .blc_2 .cards>p.title strong {
        font-size: 35px;
    }

    .diniz_social .blc_2 .cards>p.title small {
        font-size: 18px;
    }

    .diniz_social .blc_2 .cards ul li {
        width: 47%;
        margin-right: 0;
        margin-bottom: 15px;
    }

    .diniz_social .api_pinterest ul li a {
        width: 220px;
        height: 220px;
    }

    .diniz_social .container .row {
        margin: 0;
    }

    .diniz_social .time_line .row {
        flex-direction: column;
    }

    .diniz_social .blc_2 .column_1 .content>p small {
        margin-bottom: 0;
    }

    .diniz_social .time_line ul {
        margin-top: 20px;
    }

    .diniz_social .time_line p {
        margin-right: 0;
    }
    
    .teleton-content{
        margin-top: 10px;
    }

    .diniz_social .blc_1 article,
    .diniz_social .blc_3 article {
        width: 100%;
        border-radius: 20px;
        padding: 0;
    }

    .diniz_social .blc_3 article {
        margin-top: 0;
    }

    .diniz_social .blc_1:after {
        top: 0!important;
    }

    .diniz_social .blc_1:after,
    .diniz_social .blc_3 article:after {
        top: -15px;
        border-radius: 0;
        left: -15px;
        width: calc(100% + 30px);
    }

    .diniz_social .blc_1 article .title,
    .diniz_social .blc_3 article .title {
        text-align: center;
        line-height: 30px;
        margin-bottom: 10px;
        font-size: 30px;
        padding-top: 20px;
        margin-top: 7px;
    }

    .diniz_social .blc_3 article .title {
        max-width: 80%;
    }

    .diniz_social .blc_3 article .description {
        text-align: left;
    }

    .diniz_social .blc_1 article .description,
    .diniz_social .blc_3 article .description {
        padding: 20px;
    }

    .diniz_social .blc_1 .depoimento {
        margin-top: 0;
        padding: 0;
    }

    .diniz_social .blc_1 .depoimento .column_1,
    .diniz_social .blc_1 .depoimento .column_2 {
        width: 100%;
    }

    .diniz_social .blc_1 .depoimento .column_1 {
        order: 2;
    }

    .diniz_social .blc_1 .depoimento .column_1 .box-banner {
        width: calc(100% + 30px);
        margin-right: -15px;
        margin-left: -15px;
    }

    .diniz_social .blc_1 .depoimento .column_2 {
        padding-top: 0px;
        padding-bottom: 30px;
        order: 1;
    }

    .diniz_social .blc_2 {
        height: auto;
        background-size: 100%;
        background-position: top;
        margin-right: -15px;
        margin-left: -15px;
        margin-top: 0;
        padding: 0;
        border-bottom: 0;
        background-position: bottom;
    }

    .diniz_social .blc_2 .content>p {
        height: 265px;
        display: flex;
        align-items: baseline;
        flex-direction: column;
        justify-content: center;
        text-align: left;
        padding-left: 15px;
    }

    .diniz_social .blc_2 .column_1 p strong {
        display: block;
        font-size: 80px;
        line-height: 80px;
    }

    .diniz_social .blc_2 .video {
        margin-top: 0;
    }

    .diniz_social .blc_2 .video iframe {
        width: 100%;
        height: 300px;
        margin-bottom: -6px;
    }

    .diniz_social .apoiadores {
        flex-direction: column;
    }

    .diniz_social .blc_2 .cards p.obs {
        // display: none;
        padding: 10px;
        font-size: 15px;
        
    }

    .diniz_social #search_participantes section ul,
    .diniz_social #search_participantes section,
    .diniz_social .apoiadores ul {
        flex-wrap: wrap;
    }

    .diniz_social #search_participantes section ul li select {
        margin-bottom: 10px;
    }

    .diniz_social #search_participantes {
        width: 100%;
        padding: 20px 15px;
        margin-bottom: 60px;
        margin-top: 0;
    }

    .diniz_social #search_participantes section ul {
        margin: 15px 0;
    }

    .diniz_social #search_participantes section button,
    .diniz_social #search_participantes section ul li,
    .diniz_social #search_participantes section ul li select {
        width: 100%;
    }

    .diniz_social .apoiadores ul .box-banner {
        width: 50%;
    }
}