* {
    box-sizing: border-box;
    outline: none;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.dis-none {
    display: none;
}

.ui-autocomplete {
    max-width: calc(217px);
    background-color: white;

    @media screen and (max-width: 959px) { 
            max-width: calc(217px);
            background-color: #fff;
            width: 100% !important;
            max-width: 100%;
            left: 0 !important;
            padding: 10px;
    }

    li {
        border-bottom: 1px solid #ccc;
    }

    a {
        display: flex;
        max-height: 50px;
        overflow: hidden;
        padding: 5px;
        font-size: 14px;
        line-height: 1.5;
        height: 60px;
        overflow: hidden;

        img {
            width: 60px !important;
            height: auto !important;
            display: inline-block;
            margin-right: 5px;
        }

    }

    .ui-corner-all {
        // &:after {
        //     content: '...';
        //     position: relative;
        //     display: inline-block;
        // }
    }
}

ul,
ol {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#ajaxBusy {
    display: none !important;
}

.container {
    width: 100%;
    max-width: 1440px;
}

.mobile {
    display: none;

    @media screen and (max-width: $mobile) {
        display: block;
    }
}

.desktop {
    display: block;

    @media screen and (max-width: $mobile) {
        display: none;
    }
}