$font-principal: 'Roboto', sans-serif;
$font-secundaria: 'Lato', sans-serif;

$branco: #fff;
$cor-principal: #d91e25;
$cor-principal-escuro: #B51A20;
$cor-secundaria: #00B67F;
// $cor-principal-claro: #6084dc;
// $cor-cta: #e0662a;
// $cor-texto: #363636;

$mobile: 812px;
$iphone5: 360px;
$tablet-landscape: 768px;
$tablet: 1024px;
$small-monitor: 1366px;