#set($id = $product.Id)
#set($uri = $product.Uri)
#set($escapedName = $product.HtmlEscapedName)
<article class="data" data-brand="$product.BrandName">

    <a class="productImage" title="$escapedName" href="$uri">
        $product.GetImageTag(30)
	    <h3>$product.Name</h3>
    	#if ($product.IsInStock)
    	    <div class="shelf-price">
			#if ($product.HasBestPrice)
				<!--<span class="shelf-price-list">$product.ListPrice</span>-->
			#end
		    <strong class="shelf-price-best">$product.BestPrice</strong>
			<em class="shelf-installment">
				#if ($product.NumbersOfInstallment > 1)
					 ${product.NumbersOfInstallment}X de $product.InstallmentValue sem juros
				#end
			</em>
			</div>
			<div class="shelf-cta">
			    <span>
			        Comprar
			    </span>
			</div>
    	#else
    		<p class="outOfStock">Produto Esgotado</p> 
    	#end
    </a>
</article>